openapi: 3.1.0
info:
  title: RockServer API
  version: 0.3.0
  description: >-
    Contract for RockServer operational health checks, deterministic station search, and the
    Windows voice-command JSON and streaming boundaries. `POST /api/v1/voice/command` is the canonical
    voice-command route; `POST /v1/voice/command` is a compatibility alias with the same
    request and response contract. `GET /api/v1/voice/stream` upgrades to the canonical
    provider-neutral WebSocket protocol for raw PCM audio and incremental transcripts.
    PostgreSQL may use provenance-compatible semantic ranking; metadata fallback preserves
    the same schemas when embeddings are absent or unavailable.
servers:
  - url: https://alex.vault57.ru
  - url: http://127.0.0.1:3000
paths:
  /v1/admin/auth/login:
    post:
      operationId: adminLogin
      summary: Authenticate the bootstrapped administrator and issue one short-lived opaque Bearer session
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AdminLoginRequest" }
      responses:
        "200": { description: One opaque Bearer token, returned only to the authenticated caller. }
        "401": { description: Generic invalid-credentials response. }
        "403": { description: Request did not originate through the trusted first-party boundary. }
        "429": { description: Durable account-and-source-IP throttle temporarily locked login. }
        "503": { description: Administrator authentication persistence is unavailable. }
  /v1/admin/auth/refresh:
    post:
      operationId: refreshAdminSession
      summary: Rotate an active administrator Bearer session
      security: [{ AdminBearer: [] }]
      responses:
        "200": { description: Replacement opaque Bearer token; the old token is revoked. }
        "401": { description: Bearer session is absent, expired, revoked, malformed, or invalid. }
        "403": { description: Request origin is not allowed. }
        "503": { description: Administrator authentication persistence is unavailable. }
  /v1/admin/auth/logout:
    post:
      operationId: logoutAdminSession
      summary: Revoke the current administrator Bearer session immediately
      security: [{ AdminBearer: [] }]
      responses:
        "204": { description: Session revoked. }
        "401": { description: Bearer session is absent, expired, revoked, malformed, or invalid. }
        "403": { description: Request origin is not allowed. }
  /v1/admin/session:
    get:
      operationId: getAdminSession
      summary: Verify an active administrator Bearer session at the admin authorization boundary
      security: [{ AdminBearer: [] }]
      responses:
        "200": { description: Admin role confirmation without credential material. }
        "401": { description: Bearer session is absent, expired, revoked, malformed, or invalid. }
  /v1/auth/passkeys/registration/options:
    post:
      operationId: startPasskeyRegistration
      summary: Explicitly start first-party account creation and passkey registration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                account_display_name: { type: string, minLength: 1, maxLength: 128, default: Rock account }
      responses:
        "200": { description: WebAuthn creation options and server challenge identifier. }
        "403": { description: Direct or wrong-origin requests are rejected. }
        "503": { description: Authentication persistence is unavailable. }
  /v1/auth/passkeys/registration/verify:
    post:
      operationId: finishPasskeyRegistration
      summary: Verify a passkey registration and create a browser session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              required: [challenge_id, id, attestationObject, clientDataJSON]
              properties:
                challenge_id: { type: string, format: uuid }
                id: { type: string }
                attestationObject: { type: string }
                clientDataJSON: { type: string }
      responses:
        "200": { description: Browser session cookie and CSRF token were created. }
        "401": { description: Challenge or WebAuthn response was rejected. }
        "403": { description: Direct or wrong-origin requests are rejected. }
        "409": { description: Credential already exists. }
        "503": { description: Authentication persistence is unavailable. }
  /v1/auth/passkeys/authentication/options:
    post:
      operationId: startPasskeyAuthentication
      summary: Start username-less discoverable passkey authentication
      responses:
        "200": { description: WebAuthn request options with an empty allowCredentials list and server challenge identifier. }
        "403": { description: Direct or wrong-origin requests are rejected. }
  /v1/auth/passkeys/authentication/verify:
    post:
      operationId: finishPasskeyAuthentication
      summary: Verify a passkey assertion and create a browser session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [challenge_id, id, authenticatorData, signature, clientDataJSON, userHandle]
              properties:
                challenge_id: { type: string, format: uuid }
                id: { type: string }
                authenticatorData: { type: string }
                signature: { type: string }
                clientDataJSON: { type: string }
                userHandle: { type: string }
      responses:
        "200": { description: Browser session cookie and CSRF token were created. }
        "401": { description: Assertion, challenge or sign counter was rejected. }
        "403": { description: Direct or wrong-origin requests are rejected. }
  /v1/auth/browser-session:
    post:
      operationId: refreshBrowserSessionCsrf
      summary: Refresh the tab-local CSRF proof for an active first-party browser session
      security:
        - RockserverBrowserCookie: []
      responses:
        "200":
          description: Active account display name and a new tab-local CSRF proof.
          headers:
            Cache-Control: { schema: { type: string, example: no-store } }
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [account_display_name, csrf_token]
                properties:
                  account_display_name: { type: string, minLength: 1, maxLength: 128 }
                  csrf_token: { type: string, minLength: 1, maxLength: 256, writeOnly: true }
        "401": { description: Browser session cookie is absent, expired, or invalid. }
        "403": { description: Direct or wrong-origin requests are rejected. }
        "503": { description: Authentication persistence is unavailable. }
  /v1/browser/account:
    get:
      operationId: getBrowserAccountCentre
      summary: Read the first-party browser account centre without native credentials
      security:
        - RockserverBrowserCookie: []
      responses:
        "200":
          description: Account name and safe device metadata only; never credentials, tokens, audit details, or account UUIDs.
          headers:
            Cache-Control: { schema: { type: string, example: no-store } }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BrowserAccount" }
        "401": { description: Browser session cookie is absent, expired, or invalid. }
        "403": { description: Request did not arrive through the trusted first-party proxy. }
  /v1/auth/browser-logout:
    post:
      operationId: logoutBrowserSession
      summary: Revoke only the current first-party browser session
      security:
        - RockserverBrowserCookie: []
      parameters:
        - name: X-CSRF-Token
          in: header
          required: true
          schema: { type: string, minLength: 1, maxLength: 256 }
      responses:
        "204": { description: Current browser session revoked; native device sessions are unchanged. }
        "401": { description: Browser session cookie is absent, expired, or invalid. }
        "403": { description: Trusted proxy, origin, or CSRF proof is missing. }
  /v1/auth/device-session:
    post:
      operationId: createDeviceSession
      summary: Issue a short-lived access token for a paired native device
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceSessionRequest"
      responses:
        "200":
          description: New opaque access token; never cache or log.
          headers:
            Cache-Control: { schema: { type: string, example: no-store } }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DeviceSession" }
        "401": { description: Device credential is invalid, revoked, or belongs to a deleted account. }
  /v1/account/profile:
    get:
      operationId: getAccountProfile
      summary: Read the caller's account and current device projection
      security:
        - RockserverBearer: []
      responses:
        "200":
          description: Caller-owned account projection.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AccountProfile" }
        "401": { $ref: "#/components/responses/AuthenticationRequired" }
  /v1/account:
    delete:
      operationId: deleteAccount
      summary: Tombstone the caller's account after fresh browser passkey proof
      security:
        - RockserverBearer: []
          RockserverBrowserCookie: []
      parameters:
        - name: X-CSRF-Token
          in: header
          required: true
          schema: { type: string, minLength: 1, maxLength: 256 }
      responses:
        "202": { description: Account credentials and devices were revoked. }
        "401": { $ref: "#/components/responses/AuthenticationRequired" }
        "403": { description: Trusted proxy, CSRF, or recent passkey proof is missing. }
  /v1/devices:
    get:
      operationId: listOwnedDevices
      summary: List active native devices owned by the caller
      security:
        - RockserverBearer: []
      responses:
        "200":
          description: Caller-owned active devices.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DeviceList" }
        "401": { $ref: "#/components/responses/AuthenticationRequired" }
  /v1/devices/{device_id}:
    delete:
      operationId: revokeOwnedDevice
      summary: Revoke one caller-owned device and its native sessions
      security:
        - RockserverBearer: []
      parameters:
        - name: device_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204": { description: Device revoked. }
        "401": { $ref: "#/components/responses/AuthenticationRequired" }
        "404": { description: Device is unknown or belongs to another account. }
  /v1/browser/devices/{device_id}:
    patch:
      operationId: renameBrowserOwnedDevice
      summary: Rename one caller-owned device from the first-party browser account centre
      security:
        - RockserverBrowserCookie: []
      parameters:
        - $ref: "#/components/parameters/DeviceId"
        - name: X-CSRF-Token
          in: header
          required: true
          schema: { type: string, minLength: 1, maxLength: 256 }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RenameDeviceRequest" }
      responses:
        "204": { description: Device was renamed. }
        "401": { description: Browser session is invalid. }
        "403": { description: Trusted proxy, origin, or CSRF proof is missing. }
        "404": { description: Device is unknown or belongs to another account. }
        "422": { description: Device name is invalid. }
    delete:
      operationId: revokeBrowserOwnedDevice
      summary: Revoke another caller-owned native device and all of its native sessions
      description: This never logs out the current browser cookie session.
      security:
        - RockserverBrowserCookie: []
      parameters:
        - $ref: "#/components/parameters/DeviceId"
        - name: X-CSRF-Token
          in: header
          required: true
          schema: { type: string, minLength: 1, maxLength: 256 }
      responses:
        "204": { description: Device and its native sessions were revoked. }
        "401": { description: Browser session is invalid. }
        "403": { description: Trusted proxy, origin, or CSRF proof is missing. }
        "404": { description: Device is unknown or belongs to another account. }
  /v1/pairing-requests:
    post:
      operationId: createPairingRequest
      summary: Start a short-lived desktop pairing request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [device_display_name, device_type]
              properties:
                device_display_name: { type: string, minLength: 1, maxLength: 128 }
                device_type: { type: string, minLength: 1, maxLength: 64 }
                app_version: { type: string, maxLength: 64 }
      responses:
        "201":
          description: Desktop-only proof, browser approval proof and safe pairing context were created.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CreatedPairingRequest" }
        "422": { description: Device metadata is invalid. }
        "503": { description: Account persistence is unavailable. }
  /v1/pairing-requests/lookup:
    get:
      operationId: lookupPairingRequest
      summary: Resolve a pairing short code to non-secret device information
      parameters:
        - name: code
          in: query
          required: true
          schema: { type: string, minLength: 8, maxLength: 8, pattern: "^[A-Fa-f0-9]{8}$" }
      responses:
        "200":
          description: A pending pairing request was found without native proofs or credential material.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PairingPreview" }
        "404": { description: The code is unknown, expired, used or revoked. }
        "503": { description: Account persistence is unavailable. }
  /v1/pairing-requests/{request_id}/approve:
    post:
      operationId: approvePairingRequest
      summary: Approve a pairing request from a fresh browser session
      security:
        - RockserverBrowserCookie: []
      parameters:
        - name: request_id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: X-CSRF-Token
          in: header
          required: true
          schema: { type: string, minLength: 1, maxLength: 256 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [approval_secret, verification_phrase]
              properties:
                approval_secret: { type: string, minLength: 1, maxLength: 128 }
                verification_phrase: { type: string, minLength: 1, maxLength: 64 }
      responses:
        "204": { description: Pairing request approved. }
        "401": { description: Browser session cookie is absent or invalid. }
        "403": { description: CSRF proof is absent or invalid. }
        "409": { description: Pairing request is expired, consumed or otherwise not approvable. }
        "503": { description: Account persistence is unavailable. }
  /v1/pairing-requests/{request_id}/complete:
    post:
      operationId: completePairingRequest
      summary: Complete an approved desktop pairing request
      parameters:
        - name: request_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [desktop_token]
              properties:
                desktop_token: { type: string, minLength: 16, maxLength: 128 }
      responses:
        "200":
          description: Native credentials and user-visible account/device context were issued once.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PairingCompletion" }
        "202": { description: Browser approval is still pending. Returns ErrorResponse with code pairing_pending. }
        "401": { description: Proof is invalid. The owner is derived server-side. }
        "409": { description: The account has reached its ten active-device limit. Returns ErrorResponse with code device_limit_reached. }
        "410": { description: Pairing request is expired, consumed or revoked. Returns ErrorResponse with code pairing_expired. }
        "503": { description: Account persistence is unavailable. }
  /admin:
    get:
      operationId: getAdminConsolePreview
      summary: Serve the local administration-console preview
      description: >-
        Serves a browser page that asks for the configured application Bearer token and retains it
        only in the tab's memory. The preview exposes service readiness and read-only station search;
        it does not yet provide administrator accounts, sessions, or state-changing operations.
      responses:
        "200":
          description: The administration-console preview page.
          content:
            text/html:
              schema:
                type: string
  /health/live:
    get:
      operationId: getLiveness
      summary: Check whether the process is running
      responses:
        "200":
          description: The process is running.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
              example:
                status: ok
  /health/ready:
    get:
      operationId: getReadiness
      summary: Check whether the service is ready to receive traffic
      responses:
        "200":
          description: The configured catalog backend is available.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
              example:
                status: ok
        "503":
          description: The configured PostgreSQL catalog backend is unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
              example:
                status: not_ready
  /v1/search:
    post:
      operationId: searchStations
      summary: Find and rank internet radio stations
      description: >-
        Accepts a natural-language request and returns ranked station streams anonymously.
        Language, country, and exclusions are hard filters. Ranking is deterministic,
        with station ID ascending as the final tie-break, and optional semantic-provider
        failures degrade to metadata search.
        A syntactically malformed JSON body produces 400. A well-formed JSON body
        that violates this operation's schema or semantic validation rules produces 422.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
            examples:
              russian:
                summary: Russian-language discovery request
                value:
                  query: спокойный инструментальный джаз без вокала
                  locale: ru-RU
                  limit: 5
                  exclude_station_ids: [station-jazz-legacy]
              english:
                summary: English-language discovery request
                value:
                  query: upbeat classic rock for a road trip
                  locale: en-US
                  limit: 10
      responses:
        "200":
          description: Ranked stations and the normalized interpretation of the query.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
              examples:
                russian:
                  summary: Russian request result
                  value:
                    request_id: req_01JAZRUS
                    normalized_query:
                      original: спокойный инструментальный джаз без вокала
                      locale: ru-RU
                      terms: [спокойный, инструментальный, джаз]
                      tags: [jazz, instrumental]
                      language: null
                      country_code: null
                    stations:
                      - id: station-jazz-001
                        name: Quiet Jazz Radio
                        stream_url: https://streams.example.com/quiet-jazz.mp3
                        homepage_url: https://example.com/quiet-jazz
                        tags: [jazz, instrumental, calm]
                        language: en
                        country_code: US
                        codec: MP3
                        bitrate_kbps: 192
                        score: 0.94
                        reason: Соответствует спокойному инструментальному джазу.
                        health: healthy
                english:
                  summary: English request result
                  value:
                    request_id: req_01JAZENG
                    normalized_query:
                      original: upbeat classic rock for a road trip
                      locale: en-US
                      terms: [upbeat, classic rock, road trip]
                      tags: [classic rock, rock]
                      language: en
                      country_code: null
                    stations:
                      - id: station-rock-001
                        name: Highway Rock
                        stream_url: https://streams.example.com/highway-rock.aac
                        homepage_url: null
                        tags: [rock, classic rock]
                        language: en
                        country_code: GB
                        codec: AAC
                        bitrate_kbps: 128
                        score: 0.91
                        reason: Strong match for upbeat classic rock.
                        health: healthy
        "400":
          description: The request body is missing, is not JSON, or contains malformed JSON.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                code: malformed_request
                message: Request body must contain valid JSON.
                request_id: req_01JAZ400
                details:
                  body: unexpected end of input
        "413":
          description: The JSON request body exceeds the 65,536-byte HTTP boundary.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: The JSON is well formed but fails schema or semantic validation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                code: validation_failed
                message: Request validation failed.
                request_id: req_01JAZ422
                details:
                  query: must not be empty
        "429":
          description: The caller has exceeded the request rate limit.
          headers:
            Retry-After:
              description: Seconds until another request should be attempted.
              schema:
                type: integer
                minimum: 1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/voice/command:
    post:
      operationId: resolveVoiceCommand
      summary: Resolve an already-recognized voice command to a playable station
      security:
        - RockCastBearer: []
      description: >-
        Canonical Windows voice-command endpoint. The client supplies a bounded text transcript,
        not audio. RockServer validates it and delegates exactly once to the existing query
        interpretation and station-search flow. `X-Request-Id` is echoed when it contains 1–128
        ASCII letters, digits, `_`, or `-`; otherwise RockServer generates a request ID. The same
        ID is returned in the response JSON and `X-Request-Id` response header. The server limits
        the JSON body to 65,536 bytes and the interpretation/search portion to five seconds.
      parameters:
        - name: X-Request-Id
          in: header
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 128
            pattern: "^[A-Za-z0-9_-]+$"
          description: Optional caller correlation ID; valid values are echoed in the response.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VoiceCommandRequest"
            example:
              transcript: play calm instrumental jazz
              locale: en-US
              limit: 3
              exclude_station_ids: [station-jazz-legacy]
      responses:
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "200":
          description: The transcript was interpreted and ranked stations were returned.
          headers:
            X-Request-Id:
              description: RockServer request ID, identical to `request_id` in the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoiceCommandResponse"
              example:
                request_id: win-voice-0001
                transcript: play calm instrumental jazz
                normalized_query:
                  original: play calm instrumental jazz
                  locale: en-US
                  terms: [play, calm, instrumental, jazz]
                  tags: [calm, instrumental, jazz]
                  language: en
                  country_code: null
                selected_station:
                  id: station-jazz-001
                  name: Quiet Jazz Radio
                  stream_url: https://streams.example.com/quiet-jazz.mp3
                  homepage_url: https://example.com/quiet-jazz
                  tags: [jazz, instrumental, calm]
                  language: en
                  country_code: US
                  codec: MP3
                  bitrate_kbps: 192
                  score: 0.94
                  reason: Matches calm instrumental jazz.
                  health: healthy
                stations:
                  - id: station-jazz-001
                    name: Quiet Jazz Radio
                    stream_url: https://streams.example.com/quiet-jazz.mp3
                    homepage_url: https://example.com/quiet-jazz
                    tags: [jazz, instrumental, calm]
                    language: en
                    country_code: US
                    codec: MP3
                    bitrate_kbps: 192
                    score: 0.94
                    reason: Matches calm instrumental jazz.
                    health: healthy
        "400":
          description: The request body is missing, is not JSON, or contains malformed JSON.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: The JSON request body exceeds 65,536 bytes.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                code: request_too_large
                message: Request body exceeds the allowed size.
                request_id: req_01JAZ413
                details:
                  max_bytes: 65536
        "422":
          description: The JSON is well formed but fails schema or semantic validation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                code: validation_failed
                message: Request validation failed.
                request_id: req_01JAZ422
                details:
                  transcript: must not be empty or whitespace only
        "500":
          description: An unexpected catalog/search failure occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "504":
          description: Query interpretation or station search exceeded the five-second boundary.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                code: search_timeout
                message: Voice command search timed out.
                request_id: req_01JAZ504
                details:
                  timeout_ms: 5000
  /api/v1/voice/stream:
    get:
      operationId: streamVoiceCommand
      summary: Stream microphone audio and resolve the final transcript
      security:
        - RockCastBearer: []
      description: >-
        Canonical WebSocket endpoint. After the HTTP upgrade the client sends one JSON
        `VoiceStreamStart` text frame, then binary PCM signed 16-bit little-endian mono chunks,
        and finally one JSON `VoiceStreamCommit` text frame. `recognizer_mode` selects either the
        compatible buffered v1 provider (default) or v3 upstream streaming. RockServer emits `ready`, zero or
        more `transcript`, and one terminal `result` or `error` event. Each binary message is
        limited to 65,536 bytes and the session to 10 MiB. Provider operations time out after
        ten seconds; final station search retains the five-second voice-command boundary.
      parameters:
        - name: X-Request-Id
          in: header
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 128
            pattern: "^[A-Za-z0-9_-]+$"
      responses:
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "101":
          description: >-
            Switching Protocols. WebSocket text frames conform to the schemas referenced by
            `x-websocket-client-messages` and `x-websocket-server-messages`.
          headers:
            X-Request-Id:
              schema:
                type: string
        "400":
          description: The HTTP request is not a valid WebSocket upgrade request.
      x-websocket-client-messages:
        oneOf:
          - $ref: "#/components/schemas/VoiceStreamStart"
          - $ref: "#/components/schemas/VoiceStreamCommit"
      x-websocket-server-messages:
        oneOf:
          - $ref: "#/components/schemas/VoiceStreamReady"
          - $ref: "#/components/schemas/VoiceStreamTranscript"
          - $ref: "#/components/schemas/VoiceStreamResult"
          - $ref: "#/components/schemas/VoiceStreamError"
  /v1/voice/stream:
    get:
      operationId: streamVoiceCommandCompatibility
      deprecated: true
      summary: Anonymous compatibility alias for the canonical voice streaming endpoint
      responses:
        "101":
          description: Same WebSocket protocol as `/api/v1/voice/stream`.
        "400":
          description: The HTTP request is not a valid WebSocket upgrade request.
  /v1/voice/command:
    post:
      operationId: resolveVoiceCommandCompatibility
      deprecated: true
      summary: Anonymous compatibility alias for the canonical voice-command endpoint
      description: >-
        Compatibility alias for `POST /api/v1/voice/command`. It has exactly the same request,
        response, validation, timeout, and error semantics. New Windows clients must use the
        canonical `/api/v1/voice/command` route.
      parameters:
        - name: X-Request-Id
          in: header
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 128
            pattern: "^[A-Za-z0-9_-]+$"
          description: Optional caller correlation ID; valid values are echoed in the response.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VoiceCommandRequest"
      responses:
        "200":
          description: Same response as the canonical endpoint.
          headers:
            X-Request-Id:
              description: RockServer request ID, identical to `request_id` in the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoiceCommandResponse"
        "400":
          description: Same error semantics as the canonical endpoint.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Same error semantics as the canonical endpoint.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Same error semantics as the canonical endpoint.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Same error semantics as the canonical endpoint.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "504":
          description: Same error semantics as the canonical endpoint.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  parameters:
    DeviceId:
      name: device_id
      in: path
      required: true
      schema: { type: string, format: uuid }
  securitySchemes:
    RockserverBrowserCookie:
      type: apiKey
      in: cookie
      name: rockserver_browser
      description: >-
        Secure, HttpOnly, SameSite browser session cookie issued after a verified passkey ceremony.
        State-changing browser requests also require the X-CSRF-Token header and the trusted Caddy
        proxy proof; those transport checks are enforced outside the bearer scheme.
    RockCastBearer:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: >-
        Legacy deployment-configured Bearer credential required only for the protected `/api/v1/*`
        compatibility routes. Normal `/v1/search` and `/v1/voice/*` product routes are anonymous;
        this credential is not part of the account/device pairing UX and must not be exposed there.
    RockserverBearer:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: Short-lived opaque native session access token issued by pairing.
    AdminBearer:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: Short-lived, server-revocable administrator session token. It is separate from native and browser account credentials.
  responses:
    AuthenticationRequired:
      description: A required Bearer credential was absent, malformed, or invalid.
      headers:
        WWW-Authenticate:
          schema:
            type: string
            example: Bearer
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            code: authentication_required
            message: A valid Bearer token is required.
            request_id: req_01AUTH401
            details: {}
  schemas:
    AdminLoginRequest:
      type: object
      additionalProperties: false
      required: [username, password]
      properties:
        username: { type: string, minLength: 3, maxLength: 64, pattern: "^[A-Za-z0-9._-]+$" }
        password: { type: string, minLength: 1, maxLength: 1024, writeOnly: true }
    RenameDeviceRequest:
      type: object
      additionalProperties: false
      required: [device_display_name]
      properties:
        device_display_name: { type: string, minLength: 1, maxLength: 128 }
    BrowserAccount:
      type: object
      additionalProperties: false
      required: [account_display_name, device_limit, devices]
      properties:
        account_display_name: { type: string, minLength: 1, maxLength: 128 }
        device_limit: { type: integer, const: 50 }
        devices:
          type: array
          maxItems: 50
          items: { $ref: "#/components/schemas/BrowserDevice" }
    BrowserDevice:
      type: object
      additionalProperties: false
      required: [device_id, device_display_name, device_type, connected_at, session_status]
      properties:
        device_id:
          type: string
          format: uuid
          writeOnly: true
          description: Opaque action handle used by the browser client; it must never be rendered to the user.
        device_display_name: { type: string, minLength: 1, maxLength: 128 }
        device_type: { type: string, minLength: 1, maxLength: 64 }
        connected_at: { type: string, format: date-time }
        last_seen_at: { type: [string, "null"], format: date-time }
        session_status: { type: string, enum: [active, inactive] }
    DeviceSessionRequest:
      type: object
      additionalProperties: false
      required: [device_id, device_secret]
      properties:
        device_id: { type: string, format: uuid }
        device_secret: { type: string, minLength: 32, maxLength: 512, writeOnly: true }
    DeviceSession:
      type: object
      additionalProperties: false
      required: [access_token]
      properties:
        access_token: { type: string, minLength: 16, maxLength: 128, writeOnly: true }
    AccountProfile:
      type: object
      additionalProperties: false
      required: [user_id, session_id, device_id, account_display_name, created_at, device_display_name, device_type, device_created_at]
      properties:
        user_id: { type: string, format: uuid }
        session_id: { type: string, format: uuid }
        device_id: { type: string, format: uuid }
        account_display_name: { type: string, minLength: 1, maxLength: 128 }
        created_at: { type: string, format: date-time }
        device_display_name: { type: string, minLength: 1, maxLength: 128 }
        device_type: { type: string, minLength: 1, maxLength: 64 }
        device_created_at: { type: string, format: date-time }
        last_seen_at: { type: [string, "null"], format: date-time }
    Device:
      type: object
      additionalProperties: false
      required: [device_id, user_id, device_display_name, device_type, created_at]
      properties:
        device_id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        device_display_name: { type: string, minLength: 1, maxLength: 128 }
        device_type: { type: string, minLength: 1, maxLength: 64 }
        created_at: { type: string, format: date-time }
        last_seen_at: { type: [string, "null"], format: date-time }
    DeviceList:
      type: object
      additionalProperties: false
      required: [devices]
      properties:
        devices:
          type: array
          items: { $ref: "#/components/schemas/Device" }
    CreatedPairingRequest:
      type: object
      additionalProperties: false
      required: [pairing_request_id, desktop_token, approval_secret, short_code, verification_phrase, device_display_name, device_type, expires_at, status]
      properties:
        pairing_request_id: { type: string, format: uuid }
        desktop_token: { type: string, minLength: 16, maxLength: 128, writeOnly: true }
        approval_secret: { type: string, minLength: 16, maxLength: 128, writeOnly: true }
        short_code: { type: string, minLength: 8, maxLength: 8 }
        verification_phrase: { type: string, minLength: 1, maxLength: 64 }
        device_display_name: { type: string, minLength: 1, maxLength: 128 }
        device_type: { type: string, minLength: 1, maxLength: 64 }
        expires_at: { type: string, format: date-time }
        status: { type: string, enum: [pending] }
    PairingPreview:
      type: object
      additionalProperties: false
      required: [request_id, device_display_name, device_type, verification_phrase, short_code, expires_at, status]
      properties:
        request_id: { type: string, format: uuid, description: Internal route handle; clients must not render it. }
        device_display_name: { type: string, minLength: 1, maxLength: 128 }
        device_type: { type: string, minLength: 1, maxLength: 64 }
        app_version: { type: string, maxLength: 64 }
        verification_phrase: { type: string, minLength: 1, maxLength: 64 }
        short_code: { type: string, minLength: 8, maxLength: 8 }
        expires_at: { type: string, format: date-time }
        status: { type: string, enum: [pending] }
        account_display_name: { type: string, minLength: 1, maxLength: 128, description: Present only for the authenticated browser session. }
    PairingCompletion:
      type: object
      additionalProperties: false
      required: [user_id, device_id, session_id, access_token, device_secret, account_display_name, device_display_name, device_type]
      properties:
        user_id: { type: string, format: uuid }
        device_id: { type: string, format: uuid }
        session_id: { type: string, format: uuid }
        access_token: { type: string, writeOnly: true }
        device_secret: { type: string, minLength: 32, maxLength: 512, writeOnly: true }
        account_display_name: { type: string, minLength: 1, maxLength: 128 }
        device_display_name: { type: string, minLength: 1, maxLength: 128 }
        device_type: { type: string, minLength: 1, maxLength: 64 }
    HealthResponse:
      type: object
      additionalProperties: false
      required: [status]
      properties:
        status:
          type: string
          enum: [ok, not_ready]
    SearchRequest:
      type: object
      additionalProperties: false
      required: [query]
      properties:
        query:
          type: string
          minLength: 1
          maxLength: 500
          description: Natural-language station discovery request; whitespace-only values are invalid.
        locale:
          type: string
          default: en-US
          pattern: "^[A-Za-z]{2,3}(?:-[A-Za-z0-9]{2,8})*$"
          description: BCP 47-style locale used to interpret the request.
        limit:
          type: integer
          minimum: 1
          maximum: 50
          default: 10
          description: Maximum number of ranked stations to return.
        exclude_station_ids:
          type: array
          default: []
          uniqueItems: true
          maxItems: 100
          items:
            type: string
            minLength: 1
            maxLength: 128
          description: Stable station identifiers that must not appear in results.
    SearchResponse:
      type: object
      additionalProperties: false
      required: [request_id, normalized_query, stations]
      properties:
        request_id:
          type: string
          minLength: 1
        normalized_query:
          $ref: "#/components/schemas/NormalizedQuery"
        stations:
          type: array
          items:
            $ref: "#/components/schemas/StationResult"
    VoiceCommandRequest:
      type: object
      additionalProperties: false
      required: [transcript]
      properties:
        transcript:
          type: string
          minLength: 1
          maxLength: 500
          description: >-
            Already-recognized command text. Whitespace-only values are invalid. Audio bytes,
            STT-provider options, and provider credentials are deliberately not accepted.
        locale:
          type: string
          default: en-US
          pattern: "^[A-Za-z]{2,3}(?:-[A-Za-z0-9]{2,8})*$"
        limit:
          type: integer
          minimum: 1
          maximum: 50
          default: 10
          description: Maximum number of ranked stations, including `selected_station` when one exists.
        exclude_station_ids:
          type: array
          default: []
          uniqueItems: true
          maxItems: 100
          items:
            type: string
            minLength: 1
            maxLength: 128
    VoiceCommandResponse:
      type: object
      additionalProperties: false
      required: [request_id, transcript, normalized_query, selected_station, stations]
      properties:
        request_id:
          type: string
          minLength: 1
        transcript:
          type: string
          description: Accepted transcript after trimming leading and trailing whitespace.
        normalized_query:
          $ref: "#/components/schemas/NormalizedQuery"
        selected_station:
          oneOf:
            - $ref: "#/components/schemas/StationResult"
            - type: "null"
          description: First ranked station, or null when no station matches the command.
        stations:
          type: array
          description: All ranked matches in the established deterministic order; the first equals `selected_station` when present.
          items:
            $ref: "#/components/schemas/StationResult"
    VoiceStreamStart:
      type: object
      additionalProperties: false
      required: [type, sample_rate_hz]
      properties:
        type:
          const: start
        locale:
          type: string
          default: en-US
          pattern: "^[A-Za-z]{2,3}(?:-[A-Za-z0-9]{2,8})*$"
        sample_rate_hz:
          type: integer
          enum: [8000, 16000, 24000, 48000]
        recognizer_mode:
          type: string
          enum: [buffered_v1, streaming_v3]
          default: buffered_v1
          description: Buffered v1 recognizes after commit; streaming v3 forwards chunks while recording.
        limit:
          type: integer
          minimum: 1
          maximum: 50
          default: 10
        exclude_station_ids:
          type: array
          default: []
          uniqueItems: true
          maxItems: 100
          items:
            type: string
            minLength: 1
            maxLength: 128
    VoiceStreamCommit:
      type: object
      additionalProperties: false
      required: [type]
      properties:
        type:
          const: commit
    VoiceStreamReady:
      type: object
      additionalProperties: false
      required: [type, request_id, audio_format, sample_rate_hz]
      properties:
        type:
          const: ready
        request_id:
          type: string
        audio_format:
          const: pcm_s16le
        sample_rate_hz:
          type: integer
    VoiceStreamTranscript:
      type: object
      additionalProperties: false
      required: [type, request_id, transcript, is_final]
      properties:
        type:
          const: transcript
        request_id:
          type: string
        transcript:
          type: string
        is_final:
          type: boolean
    VoiceStreamResult:
      type: object
      additionalProperties: false
      required: [type, request_id, transcript, normalized_query, selected_station, stations]
      properties:
        type:
          const: result
        request_id:
          type: string
        transcript:
          type: string
        normalized_query:
          $ref: "#/components/schemas/NormalizedQuery"
        selected_station:
          oneOf:
            - $ref: "#/components/schemas/StationResult"
            - type: "null"
        stations:
          type: array
          items:
            $ref: "#/components/schemas/StationResult"
    VoiceStreamError:
      type: object
      additionalProperties: false
      required: [type, code, message, request_id, details]
      properties:
        type:
          const: error
        code:
          type: string
        message:
          type: string
        request_id:
          type: string
        details:
          type: object
          additionalProperties: true
    NormalizedQuery:
      type: object
      additionalProperties: false
      required: [original, locale, terms, tags, language, country_code]
      properties:
        original:
          type: string
        locale:
          type: string
        terms:
          type: array
          items:
            type: string
        tags:
          type: array
          items:
            type: string
        language:
          type: [string, "null"]
          description: ISO 639 language code when inferred.
        country_code:
          type: [string, "null"]
          pattern: "^[A-Z]{2}$"
          description: ISO 3166-1 alpha-2 country code when inferred.
    StationResult:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - stream_url
        - homepage_url
        - tags
        - language
        - country_code
        - codec
        - bitrate_kbps
        - score
        - reason
        - health
      properties:
        id:
          type: string
          minLength: 1
          maxLength: 128
          description: Stable RockServer station identifier.
        name:
          type: string
          minLength: 1
        stream_url:
          type: string
          format: uri
        homepage_url:
          type: [string, "null"]
          format: uri
        tags:
          type: array
          items:
            type: string
        language:
          type: [string, "null"]
          description: ISO 639 language code when known.
        country_code:
          type: [string, "null"]
          pattern: "^[A-Z]{2}$"
        codec:
          type: [string, "null"]
        bitrate_kbps:
          type: [integer, "null"]
          minimum: 1
        score:
          type: number
          minimum: 0
          maximum: 1
        reason:
          type: string
          minLength: 1
        health:
          type: string
          enum: [healthy, degraded, unknown]
    ErrorResponse:
      type: object
      additionalProperties: false
      required: [code, message, request_id, details]
      properties:
        code:
          type: string
          minLength: 1
        message:
          type: string
          minLength: 1
        request_id:
          type: string
          minLength: 1
        details:
          type: object
          additionalProperties: true
