openapi: 3.1.0
info:
  title: RockServer API
  version: 0.4.0
  description: >-
    Contract for RockServer operational health checks, deterministic station search, and the
    Windows voice-command JSON and streaming boundaries. `POST /api/v1/voice/command` resolves
    an already-recognized command and `GET /api/v1/voice/stream` upgrades to the
    provider-neutral WebSocket protocol for raw PCM audio and incremental transcripts.
    PostgreSQL may use provenance-compatible semantic ranking; metadata fallback preserves
    the same schemas when embeddings are absent or unavailable. Operations marked
    `x-rockserver-status: planned` are contract-first device-control designs and are not yet
    registered by the runtime.
servers:
  - url: https://alex.vault57.ru
  - url: http://localhost
paths:
  /api/v1/admin/auth/login:
    post:
      operationId: adminLogin
      summary: Authenticate the bootstrapped administrator and issue one short-lived opaque Bearer session
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AdminLoginRequest" }
      responses:
        "200": { description: One opaque Bearer token, returned only to the authenticated caller. }
        "401": { description: Generic invalid-credentials response. }
        "403": { description: Request did not originate through the trusted first-party boundary. }
        "429": { description: Durable account-and-source-IP throttle temporarily locked login. }
        "503": { description: Administrator authentication persistence is unavailable. }
  /api/v1/admin/auth/refresh:
    post:
      operationId: refreshAdminSession
      summary: Rotate an active administrator Bearer session
      security: [{ AdminBearer: [] }]
      responses:
        "200": { description: Replacement opaque Bearer token; the old token is revoked. }
        "401": { description: Bearer session is absent, expired, revoked, malformed, or invalid. }
        "403": { description: Request origin is not allowed. }
        "503": { description: Administrator authentication persistence is unavailable. }
  /api/v1/admin/auth/logout:
    post:
      operationId: logoutAdminSession
      summary: Revoke the current administrator Bearer session immediately
      security: [{ AdminBearer: [] }]
      responses:
        "204": { description: Session revoked. }
        "401": { description: Bearer session is absent, expired, revoked, malformed, or invalid. }
        "403": { description: Request origin is not allowed. }
  /api/v1/admin/session:
    get:
      operationId: getAdminSession
      summary: Verify an active administrator Bearer session at the admin authorization boundary
      security: [{ AdminBearer: [] }]
      responses:
        "200": { description: Admin role confirmation without credential material. }
        "401": { description: Bearer session is absent, expired, revoked, malformed, or invalid. }
  /api/v1/admin/stations:
    get:
      operationId: listAdminStations
      summary: List the bounded station read model for the first-party administrator console
      description: >-
        This read-only same-origin console endpoint requires the short-lived AdminBearer token.
        It never returns bearer or session material and responses are not cacheable.
      security: [{ AdminBearer: [] }]
      parameters:
        - name: q
          in: query
          required: false
          schema: { type: string, minLength: 1, maxLength: 100 }
        - name: limit
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 50, default: 25 }
        - name: offset
          in: query
          required: false
          schema: { type: integer, minimum: 0, maximum: 10000, default: 0 }
      responses:
        "200": { description: Server-filtered, paginated station presentation page without stream URLs or persistence identifiers. }
        "400": { description: Invalid query or pagination. }
        "401": { description: Bearer session is absent, expired, revoked, malformed, or invalid. }
        "503": { description: Catalog or administrator session persistence is unavailable. }
  /api/v1/admin/devices:
    get:
      operationId: listAdminDevices
      summary: List a paginated safe device inventory for the administrator console
      security: [{ AdminBearer: [] }]
      parameters:
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 50, default: 25 }
        - name: offset
          in: query
          schema: { type: integer, minimum: 0, maximum: 10000, default: 0 }
      responses:
        "200": { description: Safe product, display-name, lifecycle and activity fields only; no identifiers or credentials. }
        "401": { description: Bearer session is absent, expired, revoked, malformed, or invalid. }
        "503": { description: Account or administrator persistence is unavailable. }
  /api/v1/admin/audit:
    get:
      operationId: listAdminAudit
      summary: List a paginated unified administrator audit timeline
      security: [{ AdminBearer: [] }]
      parameters:
        - { name: from, in: query, schema: { type: string, format: date-time } }
        - { name: until, in: query, schema: { type: string, format: date-time } }
        - { name: action, in: query, schema: { type: string, maxLength: 96 } }
        - { name: outcome, in: query, schema: { type: string, maxLength: 16 } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 50, default: 25 } }
        - { name: offset, in: query, schema: { type: integer, minimum: 0, maximum: 10000, default: 0 } }
      responses:
        "200": { description: Secret-free event time, action and outcome page. }
        "401": { description: Bearer session is absent, expired, revoked, malformed, or invalid. }
        "503": { description: Administrator persistence is unavailable. }
  /api/v1/auth/passkeys/registration/options:
    post:
      operationId: startPasskeyRegistration
      summary: Explicitly start first-party account creation and passkey registration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                account_display_name: { type: string, minLength: 1, maxLength: 128, default: Rock account }
      responses:
        "200": { description: WebAuthn creation options and server challenge identifier. }
        "403": { description: Direct or wrong-origin requests are rejected. }
        "503": { description: Authentication persistence is unavailable. }
  /api/v1/auth/passkeys/registration/verify:
    post:
      operationId: finishPasskeyRegistration
      summary: Verify a passkey registration and create a browser session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              required: [challenge_id, id, attestationObject, clientDataJSON]
              properties:
                challenge_id: { type: string, format: uuid }
                id: { type: string }
                attestationObject: { type: string }
                clientDataJSON: { type: string }
      responses:
        "200": { description: Browser session cookie and CSRF token were created. }
        "401": { description: Challenge or WebAuthn response was rejected. }
        "403": { description: Direct or wrong-origin requests are rejected. }
        "409": { description: Credential already exists. }
        "503": { description: Authentication persistence is unavailable. }
  /api/v1/auth/passkeys/authentication/options:
    post:
      operationId: startPasskeyAuthentication
      summary: Start username-less discoverable passkey authentication
      responses:
        "200": { description: WebAuthn request options with an empty allowCredentials list and server challenge identifier. }
        "403": { description: Direct or wrong-origin requests are rejected. }
  /api/v1/auth/passkeys/authentication/verify:
    post:
      operationId: finishPasskeyAuthentication
      summary: Verify a passkey assertion and create a browser session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [challenge_id, id, authenticatorData, signature, clientDataJSON, userHandle]
              properties:
                challenge_id: { type: string, format: uuid }
                id: { type: string }
                authenticatorData: { type: string }
                signature: { type: string }
                clientDataJSON: { type: string }
                userHandle: { type: string }
      responses:
        "200": { description: Browser session cookie and CSRF token were created. }
        "401": { description: Assertion, challenge or sign counter was rejected. }
        "403": { description: Direct or wrong-origin requests are rejected. }
  /api/v1/auth/browser-session:
    post:
      operationId: refreshBrowserSessionCsrf
      summary: Refresh the tab-local CSRF proof for an active first-party browser session
      security:
        - RockserverBrowserCookie: []
      responses:
        "200":
          description: Active account display name and a new tab-local CSRF proof.
          headers:
            Cache-Control: { schema: { type: string, example: no-store } }
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [account_display_name, csrf_token]
                properties:
                  account_display_name: { type: string, minLength: 1, maxLength: 128 }
                  csrf_token: { type: string, minLength: 1, maxLength: 256, writeOnly: true }
        "401": { description: Browser session cookie is absent, expired, or invalid. }
        "403": { description: Direct or wrong-origin requests are rejected. }
        "503": { description: Authentication persistence is unavailable. }
  /api/v1/browser/account:
    get:
      operationId: getBrowserAccountCentre
      summary: Read the first-party browser account centre without native credentials
      security:
        - RockserverBrowserCookie: []
      responses:
        "200":
          description: Account name and safe device metadata only; never credentials, tokens, audit details, or account UUIDs.
          headers:
            Cache-Control: { schema: { type: string, example: no-store } }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BrowserAccount" }
        "401": { description: Browser session cookie is absent, expired, or invalid. }
        "403": { description: Request did not arrive through the trusted first-party proxy. }
  /api/v1/auth/browser-logout:
    post:
      operationId: logoutBrowserSession
      summary: Revoke only the current first-party browser session
      security:
        - RockserverBrowserCookie: []
      parameters:
        - name: X-CSRF-Token
          in: header
          required: true
          schema: { type: string, minLength: 1, maxLength: 256 }
      responses:
        "204": { description: Current browser session revoked; native device sessions are unchanged. }
        "401": { description: Browser session cookie is absent, expired, or invalid. }
        "403": { description: Trusted proxy, origin, or CSRF proof is missing. }
  /api/v1/auth/device-session:
    post:
      operationId: createDeviceSession
      summary: Issue a short-lived access token for a paired native device
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceSessionRequest"
      responses:
        "200":
          description: New opaque access token; never cache or log.
          headers:
            Cache-Control: { schema: { type: string, example: no-store } }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DeviceSession" }
        "401": { description: Device credential is invalid, revoked, or belongs to a deleted account. }
  /api/v1/account/profile:
    get:
      operationId: getAccountProfile
      summary: Read the caller's account and current device projection
      security:
        - RockserverBearer: []
      responses:
        "200":
          description: Caller-owned account projection.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AccountProfile" }
        "401": { $ref: "#/components/responses/AuthenticationRequired" }
  /api/v1/account:
    delete:
      operationId: deleteAccount
      summary: Tombstone the caller's account after fresh browser passkey proof
      security:
        - RockserverBearer: []
          RockserverBrowserCookie: []
      parameters:
        - name: X-CSRF-Token
          in: header
          required: true
          schema: { type: string, minLength: 1, maxLength: 256 }
      responses:
        "202": { description: Account credentials and devices were revoked. }
        "401": { $ref: "#/components/responses/AuthenticationRequired" }
        "403": { description: Trusted proxy, CSRF, or recent passkey proof is missing. }
  /api/v1/device-control/directory:
    get:
      operationId: getDeviceControlDirectory
      summary: Read the permitted account-owned device-control projection
      x-rockserver-status: planned
      description: >-
        Planned read projection for controllers with `device.directory.read`. It does not replace
        `GET /api/v1/devices`, whose inventory/list-and-revoke semantics remain unchanged. The
        server derives the caller's `user_id` and `device_id` from the active native session and
        returns only permitted account-owned devices, entities and surfaces. Entity state is
        included only with `entity.state.read`. Credential material, pairing data, provider-native
        identifiers and other users' existence are never exposed. AdminBearer, browser cookies and
        the legacy RockCastBearer do not authorize this operation.
      security:
        - RockserverBearer: []
      responses:
        "200":
          description: Bounded directory snapshot with presence, capabilities and freshness.
          headers:
            Cache-Control: { schema: { type: string, example: no-store } }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DeviceControlDirectory" }
        "401": { $ref: "#/components/responses/AuthenticationRequired" }
        "403":
          description: The authenticated native device lacks `device.directory.read`; target existence is not disclosed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "429":
          description: The caller exceeded the bounded directory-read rate.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "503":
          description: The planned device-control projection is unavailable.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /api/v1/devices/connect:
    get:
      operationId: connectDeviceControl
      summary: Connect an account-owned native device to device-control protocol v1
      x-rockserver-status: implemented
      description: >-
        WebSocket upgrade. Use TLS/WSS outside
        localhost. The request requires the short-lived RockserverBearer issued by the existing
        native-session flow. RockServer derives authenticated `user_id` and `device_id` from that
        session; registration cannot claim or replace either identity. Pairing proofs, durable
        `device_secret`, legacy RockCastBearer, AdminBearer and browser cookies are forbidden on
        this channel. All control messages are UTF-8 JSON text frames using the shared envelope;
        binary frames and audio chunks are rejected and remain on the unchanged voice/audio
        protocols. The first client frame is `protocol.hello`, followed by `device.register` within
        10 seconds of `protocol.welcome`. One active connection is allowed per device; a new valid
        connection replaces the old one with close code 4001.

        Protocol major 1 is selected only when offered. Unsupported major closes with 1002 after
        `unsupported_protocol_version`; malformed JSON/schema closes with 1007 after
        `invalid_message`; a frame over 65,536 bytes or payload over 61,440 bytes closes with 1009
        after `frame_too_large` when an error frame can safely be sent. Missing registration or
        policy violation closes with 1008. Authentication failure is HTTP 401 before upgrade.
        Rate-limit errors normally keep the connection open, but repeated abuse may close 1008.
      security:
        - RockserverBearer: []
      responses:
        "101":
          description: >-
            Switching Protocols. Text frames conform to the schemas referenced by
            `x-websocket-client-messages` and `x-websocket-server-messages`.
        "400": { description: The HTTP request is not a valid WebSocket upgrade request. }
        "401": { $ref: "#/components/responses/AuthenticationRequired" }
        "503":
          description: Native-session authentication storage is temporarily unavailable.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: The authenticated native device is revoked or forbidden without disclosing another target.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "426": { description: TLS/WSS is required outside localhost. }
      x-device-control-policy:
        protocol_major: 1
        max_json_frame_bytes: 65536
        max_payload_bytes: 61440
        max_capabilities: 32
        max_entities: 256
        max_surfaces: 16
        max_directory_devices: 50
        heartbeat_interval_seconds: 20
        offline_ttl_seconds: 60
        registration_deadline_seconds: 10
        max_in_flight_per_connection: 16
        max_in_flight_per_target_device: 8
        default_command_timeout_seconds: 10
        max_command_timeout_seconds: 30
        command_idempotency_window_seconds: 86400
        max_stream_redirects: 5
      x-websocket-client-messages:
        oneOf:
          - $ref: "#/components/schemas/ProtocolHelloMessage"
          - $ref: "#/components/schemas/DeviceRegisterMessage"
          - $ref: "#/components/schemas/DeviceHeartbeatMessage"
          - $ref: "#/components/schemas/DeviceManifestMessage"
          - $ref: "#/components/schemas/DeviceStateFullMessage"
          - $ref: "#/components/schemas/DeviceStateDeltaMessage"
          - $ref: "#/components/schemas/EntityStateMessage"
          - $ref: "#/components/schemas/DeviceCommandMessage"
          - $ref: "#/components/schemas/CommandAcceptedMessage"
          - $ref: "#/components/schemas/CommandResultMessage"
          - $ref: "#/components/schemas/UnknownControlMessage"
      x-websocket-server-messages:
        oneOf:
          - $ref: "#/components/schemas/ProtocolWelcomeMessage"
          - $ref: "#/components/schemas/DeviceRegisteredMessage"
          - $ref: "#/components/schemas/DeviceHeartbeatAckMessage"
          - $ref: "#/components/schemas/PresenceChangedMessage"
          - $ref: "#/components/schemas/ResyncRequestedMessage"
          - $ref: "#/components/schemas/DeviceStateFullMessage"
          - $ref: "#/components/schemas/DeviceStateDeltaMessage"
          - $ref: "#/components/schemas/EntityStateMessage"
          - $ref: "#/components/schemas/DirectorySnapshotMessage"
          - $ref: "#/components/schemas/DirectoryUpsertMessage"
          - $ref: "#/components/schemas/DirectoryRemovalMessage"
          - $ref: "#/components/schemas/DeviceCommandMessage"
          - $ref: "#/components/schemas/CommandReceivedMessage"
          - $ref: "#/components/schemas/CommandAcceptedMessage"
          - $ref: "#/components/schemas/CommandResultMessage"
          - $ref: "#/components/schemas/ProtocolErrorMessage"
          - $ref: "#/components/schemas/UnknownControlMessage"
  /api/v1/devices:
    get:
      operationId: listOwnedDevices
      summary: List active native devices owned by the caller
      security:
        - RockserverBearer: []
      responses:
        "200":
          description: Caller-owned active devices.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DeviceList" }
        "401": { $ref: "#/components/responses/AuthenticationRequired" }
  /api/v1/devices/{device_id}:
    delete:
      operationId: revokeOwnedDevice
      summary: Revoke one caller-owned device and its native sessions
      security:
        - RockserverBearer: []
      parameters:
        - name: device_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204": { description: Device revoked. }
        "401": { $ref: "#/components/responses/AuthenticationRequired" }
        "404": { description: Device is unknown or belongs to another account. }
  /api/v1/browser/devices/{device_id}:
    patch:
      operationId: renameBrowserOwnedDevice
      summary: Rename one caller-owned device from the first-party browser account centre
      security:
        - RockserverBrowserCookie: []
      parameters:
        - $ref: "#/components/parameters/DeviceId"
        - name: X-CSRF-Token
          in: header
          required: true
          schema: { type: string, minLength: 1, maxLength: 256 }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RenameDeviceRequest" }
      responses:
        "204": { description: Device was renamed. }
        "401": { description: Browser session is invalid. }
        "403": { description: Trusted proxy, origin, or CSRF proof is missing. }
        "404": { description: Device is unknown or belongs to another account. }
        "422": { description: Device name is invalid. }
    delete:
      operationId: revokeBrowserOwnedDevice
      summary: Revoke another caller-owned native device and all of its native sessions
      description: This never logs out the current browser cookie session.
      security:
        - RockserverBrowserCookie: []
      parameters:
        - $ref: "#/components/parameters/DeviceId"
        - name: X-CSRF-Token
          in: header
          required: true
          schema: { type: string, minLength: 1, maxLength: 256 }
      responses:
        "204": { description: Device and its native sessions were revoked. }
        "401": { description: Browser session is invalid. }
        "403": { description: Trusted proxy, origin, or CSRF proof is missing. }
        "404": { description: Device is unknown or belongs to another account. }
  /api/v1/pairing-requests:
    post:
      operationId: createPairingRequest
      summary: Start a short-lived desktop pairing request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [device_display_name, device_type]
              properties:
                device_display_name: { type: string, minLength: 1, maxLength: 128 }
                device_type: { type: string, minLength: 1, maxLength: 64 }
                app_version: { type: string, maxLength: 64 }
      responses:
        "201":
          description: Desktop-only proof, browser approval proof and safe pairing context were created.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CreatedPairingRequest" }
        "422": { description: Device metadata is invalid. }
        "503": { description: Account persistence is unavailable. }
  /api/v1/pairing-requests/lookup:
    get:
      operationId: lookupPairingRequest
      summary: Resolve a pairing short code to non-secret device information
      parameters:
        - name: code
          in: query
          required: true
          schema: { type: string, minLength: 8, maxLength: 8, pattern: "^[A-Fa-f0-9]{8}$" }
      responses:
        "200":
          description: A pending pairing request was found without native proofs or credential material.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PairingPreview" }
        "404": { description: The code is unknown, expired, used or revoked. }
        "503": { description: Account persistence is unavailable. }
  /api/v1/pairing-requests/{request_id}/approve:
    post:
      operationId: approvePairingRequest
      summary: Approve a pairing request from a fresh browser session
      security:
        - RockserverBrowserCookie: []
      parameters:
        - name: request_id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: X-CSRF-Token
          in: header
          required: true
          schema: { type: string, minLength: 1, maxLength: 256 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [approval_secret, verification_phrase]
              properties:
                approval_secret: { type: string, minLength: 1, maxLength: 128 }
                verification_phrase: { type: string, minLength: 1, maxLength: 64 }
      responses:
        "204": { description: Pairing request approved. }
        "401": { description: Browser session cookie is absent or invalid. }
        "403": { description: CSRF proof is absent or invalid. }
        "409": { description: Pairing request is expired, consumed or otherwise not approvable. }
        "503": { description: Account persistence is unavailable. }
  /api/v1/pairing-requests/{request_id}/complete:
    post:
      operationId: completePairingRequest
      summary: Complete an approved desktop pairing request
      parameters:
        - name: request_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [desktop_token]
              properties:
                desktop_token: { type: string, minLength: 16, maxLength: 128 }
      responses:
        "200":
          description: Native credentials and user-visible account/device context were issued once.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PairingCompletion" }
        "202": { description: Browser approval is still pending. Returns ErrorResponse with code pairing_pending. }
        "401": { description: Proof is invalid. The owner is derived server-side. }
        "409": { description: The account has reached its ten active-device limit. Returns ErrorResponse with code device_limit_reached. }
        "410": { description: Pairing request is expired, consumed or revoked. Returns ErrorResponse with code pairing_expired. }
        "503": { description: Account persistence is unavailable. }
  /admin:
    get:
      operationId: getAdminConsoleSpa
      summary: Serve the first-party administrator SPA through Caddy
      description: >-
        Caddy serves the existing same-origin Preact/Vite bundle. The administrator bearer is kept
        only in current-page JavaScript memory and a reload requires a new login.
      responses:
        "200":
          description: The administration-console preview page.
          content:
            text/html:
              schema:
                type: string
  /health/live:
    get:
      operationId: getLiveness
      summary: Check whether the process is running
      responses:
        "200":
          description: The process is running.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
              example:
                status: ok
  /health/ready:
    get:
      operationId: getReadiness
      summary: Check whether the service is ready to receive traffic
      responses:
        "200":
          description: The configured catalog backend is available.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
              example:
                status: ok
        "503":
          description: The configured PostgreSQL catalog backend is unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
              example:
                status: not_ready
  /api/v1/search:
    post:
      operationId: searchStations
      summary: Find and rank internet radio stations
      description: >-
        Accepts a natural-language request and returns ranked station streams anonymously.
        Language, country, and exclusions are hard filters. Ranking is deterministic,
        with station ID ascending as the final tie-break, and optional semantic-provider
        failures degrade to metadata search.
        A syntactically malformed JSON body produces 400. A well-formed JSON body
        that violates this operation's schema or semantic validation rules produces 422.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
            examples:
              russian:
                summary: Russian-language discovery request
                value:
                  query: спокойный инструментальный джаз без вокала
                  locale: ru-RU
                  limit: 5
                  exclude_station_ids: [station-jazz-legacy]
              english:
                summary: English-language discovery request
                value:
                  query: upbeat classic rock for a road trip
                  locale: en-US
                  limit: 10
      responses:
        "200":
          description: Ranked stations and the normalized interpretation of the query.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
              examples:
                russian:
                  summary: Russian request result
                  value:
                    request_id: req_01JAZRUS
                    normalized_query:
                      original: спокойный инструментальный джаз без вокала
                      locale: ru-RU
                      terms: [спокойный, инструментальный, джаз]
                      tags: [jazz, instrumental]
                      language: null
                      country_code: null
                    stations:
                      - id: station-jazz-001
                        name: Quiet Jazz Radio
                        stream_url: https://streams.example.com/quiet-jazz.mp3
                        homepage_url: https://example.com/quiet-jazz
                        tags: [jazz, instrumental, calm]
                        language: en
                        country_code: US
                        codec: MP3
                        bitrate_kbps: 192
                        score: 0.94
                        reason: Соответствует спокойному инструментальному джазу.
                        health: healthy
                english:
                  summary: English request result
                  value:
                    request_id: req_01JAZENG
                    normalized_query:
                      original: upbeat classic rock for a road trip
                      locale: en-US
                      terms: [upbeat, classic rock, road trip]
                      tags: [classic rock, rock]
                      language: en
                      country_code: null
                    stations:
                      - id: station-rock-001
                        name: Highway Rock
                        stream_url: https://streams.example.com/highway-rock.aac
                        homepage_url: null
                        tags: [rock, classic rock]
                        language: en
                        country_code: GB
                        codec: AAC
                        bitrate_kbps: 128
                        score: 0.91
                        reason: Strong match for upbeat classic rock.
                        health: healthy
        "400":
          description: The request body is missing, is not JSON, or contains malformed JSON.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                code: malformed_request
                message: Request body must contain valid JSON.
                request_id: req_01JAZ400
                details:
                  body: unexpected end of input
        "413":
          description: The JSON request body exceeds the 65,536-byte HTTP boundary.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: The JSON is well formed but fails schema or semantic validation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                code: validation_failed
                message: Request validation failed.
                request_id: req_01JAZ422
                details:
                  query: must not be empty
        "429":
          description: The caller has exceeded the request rate limit.
          headers:
            Retry-After:
              description: Seconds until another request should be attempted.
              schema:
                type: integer
                minimum: 1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/voice/command:
    post:
      operationId: resolveVoiceCommand
      summary: Resolve an already-recognized voice command to a playable station
      description: >-
        Unified Windows voice-command endpoint. Requests without an Authorization header use the
        anonymous voice limits. When supplied, a Bearer must be either the legacy deployment token
        or a current paired native-session token. The client supplies a bounded text transcript, not
        audio. RockServer validates it and delegates exactly once to the existing query
        interpretation and station-search flow. `X-Request-Id` is echoed when it contains 1–128
        ASCII letters, digits, `_`, or `-`; otherwise RockServer generates a request ID. The same
        ID is returned in the response JSON and `X-Request-Id` response header. The server limits
        the JSON body to 65,536 bytes and the interpretation/search portion to five seconds.
      parameters:
        - name: X-Request-Id
          in: header
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 128
            pattern: "^[A-Za-z0-9_-]+$"
          description: Optional caller correlation ID; valid values are echoed in the response.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VoiceCommandRequest"
            example:
              transcript: play calm instrumental jazz
              locale: en-US
              limit: 3
              exclude_station_ids: [station-jazz-legacy]
      responses:
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "200":
          description: The transcript was interpreted and ranked stations were returned.
          headers:
            X-Request-Id:
              description: RockServer request ID, identical to `request_id` in the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoiceCommandResponse"
              example:
                request_id: win-voice-0001
                transcript: play calm instrumental jazz
                normalized_query:
                  original: play calm instrumental jazz
                  locale: en-US
                  terms: [play, calm, instrumental, jazz]
                  tags: [calm, instrumental, jazz]
                  language: en
                  country_code: null
                selected_station:
                  id: station-jazz-001
                  name: Quiet Jazz Radio
                  stream_url: https://streams.example.com/quiet-jazz.mp3
                  homepage_url: https://example.com/quiet-jazz
                  tags: [jazz, instrumental, calm]
                  language: en
                  country_code: US
                  codec: MP3
                  bitrate_kbps: 192
                  score: 0.94
                  reason: Matches calm instrumental jazz.
                  health: healthy
                stations:
                  - id: station-jazz-001
                    name: Quiet Jazz Radio
                    stream_url: https://streams.example.com/quiet-jazz.mp3
                    homepage_url: https://example.com/quiet-jazz
                    tags: [jazz, instrumental, calm]
                    language: en
                    country_code: US
                    codec: MP3
                    bitrate_kbps: 192
                    score: 0.94
                    reason: Matches calm instrumental jazz.
                    health: healthy
        "400":
          description: The request body is missing, is not JSON, or contains malformed JSON.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: The JSON request body exceeds 65,536 bytes.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                code: request_too_large
                message: Request body exceeds the allowed size.
                request_id: req_01JAZ413
                details:
                  max_bytes: 65536
        "422":
          description: The JSON is well formed but fails schema or semantic validation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                code: validation_failed
                message: Request validation failed.
                request_id: req_01JAZ422
                details:
                  transcript: must not be empty or whitespace only
        "500":
          description: An unexpected catalog/search failure occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "504":
          description: Query interpretation or station search exceeded the five-second boundary.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                code: search_timeout
                message: Voice command search timed out.
                request_id: req_01JAZ504
                details:
                  timeout_ms: 5000
  /api/v1/voice/stream:
    get:
      operationId: streamVoiceCommand
      summary: Stream microphone audio and resolve the final transcript
      description: >-
        Unified WebSocket endpoint. Requests without an Authorization header use the anonymous
        voice limits. When supplied, a Bearer must be either the legacy deployment token or a
        current paired native-session token. After the HTTP upgrade the client sends one JSON
        `VoiceStreamStart` text frame, then binary PCM signed 16-bit little-endian mono chunks,
        and finally one JSON `VoiceStreamCommit` text frame. `recognizer_mode` selects either the
        compatible buffered v1 provider (default) or v3 upstream streaming. RockServer emits `ready`, zero or
        more `transcript`, and one terminal `result` or `error` event. Each binary message is
        limited to 65,536 bytes and the session to 10 MiB. Provider operations time out after
        ten seconds; final station search retains the five-second voice-command boundary.
      parameters:
        - name: X-Request-Id
          in: header
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 128
            pattern: "^[A-Za-z0-9_-]+$"
      responses:
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "101":
          description: >-
            Switching Protocols. WebSocket text frames conform to the schemas referenced by
            `x-websocket-client-messages` and `x-websocket-server-messages`.
          headers:
            X-Request-Id:
              schema:
                type: string
        "400":
          description: The HTTP request is not a valid WebSocket upgrade request.
      x-websocket-client-messages:
        oneOf:
          - $ref: "#/components/schemas/VoiceStreamStart"
          - $ref: "#/components/schemas/VoiceStreamCommit"
      x-websocket-server-messages:
        oneOf:
          - $ref: "#/components/schemas/VoiceStreamReady"
          - $ref: "#/components/schemas/VoiceStreamTranscript"
          - $ref: "#/components/schemas/VoiceStreamResult"
          - $ref: "#/components/schemas/VoiceStreamError"
components:
  parameters:
    DeviceId:
      name: device_id
      in: path
      required: true
      schema: { type: string, format: uuid }
  securitySchemes:
    RockserverBrowserCookie:
      type: apiKey
      in: cookie
      name: rockserver_browser
      description: >-
        Secure, HttpOnly, SameSite browser session cookie issued after a verified passkey ceremony.
        State-changing browser requests also require the X-CSRF-Token header and the trusted Caddy
        proxy proof; those transport checks are enforced outside the bearer scheme.
    RockCastBearer:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: >-
        Legacy deployment-configured Bearer accepted when supplied to `/api/v1/voice/*` routes.
        Normal `/api/v1/search` and `/api/v1/voice/*` product routes are anonymous; this credential is not
        part of the account/device pairing UX and must not be exposed there.
    RockserverBearer:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: >-
        Short-lived opaque native-session access token issued by the existing pairing/session flow.
        It is the sole identity accepted by planned device-control operations and is also accepted
        by current native account and voice routes. Roles/capabilities are not token scopes;
        device-control policy is computed and enforced server-side.
    AdminBearer:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: Short-lived, server-revocable administrator session token. It is separate from native and browser account credentials.
  responses:
    AuthenticationRequired:
      description: A required Bearer credential was absent, malformed, or invalid.
      headers:
        WWW-Authenticate:
          schema:
            type: string
            example: Bearer
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            code: authentication_required
            message: A valid Bearer token is required.
            request_id: req_01AUTH401
            details: {}
  schemas:
    AdminLoginRequest:
      type: object
      additionalProperties: false
      required: [username, password]
      properties:
        username: { type: string, minLength: 3, maxLength: 64, pattern: "^[A-Za-z0-9._-]+$" }
        password: { type: string, minLength: 1, maxLength: 1024, writeOnly: true }
    RenameDeviceRequest:
      type: object
      additionalProperties: false
      required: [device_display_name]
      properties:
        device_display_name: { type: string, minLength: 1, maxLength: 128 }
    BrowserAccount:
      type: object
      additionalProperties: false
      required: [account_display_name, device_limit, devices]
      properties:
        account_display_name: { type: string, minLength: 1, maxLength: 128 }
        device_limit: { type: integer, const: 50 }
        devices:
          type: array
          maxItems: 50
          items: { $ref: "#/components/schemas/BrowserDevice" }
    BrowserDevice:
      type: object
      additionalProperties: false
      required: [device_id, device_display_name, device_type, connected_at, session_status]
      properties:
        device_id:
          type: string
          format: uuid
          writeOnly: true
          description: Opaque action handle used by the browser client; it must never be rendered to the user.
        device_display_name: { type: string, minLength: 1, maxLength: 128 }
        device_type: { type: string, minLength: 1, maxLength: 64 }
        connected_at: { type: string, format: date-time }
        last_seen_at: { type: [string, "null"], format: date-time }
        session_status: { type: string, enum: [active, inactive] }
    DeviceSessionRequest:
      type: object
      additionalProperties: false
      required: [device_id, device_secret]
      properties:
        device_id: { type: string, format: uuid }
        device_secret: { type: string, minLength: 32, maxLength: 512, writeOnly: true }
    DeviceSession:
      type: object
      additionalProperties: false
      required: [access_token, access_expires_at]
      properties:
        access_token: { type: string, minLength: 16, maxLength: 128, writeOnly: true }
        access_expires_at: { type: string, format: date-time }
    AccountProfile:
      type: object
      additionalProperties: false
      required: [user_id, session_id, device_id, account_display_name, created_at, device_display_name, device_type, device_created_at]
      properties:
        user_id: { type: string, format: uuid }
        session_id: { type: string, format: uuid }
        device_id: { type: string, format: uuid }
        account_display_name: { type: string, minLength: 1, maxLength: 128 }
        created_at: { type: string, format: date-time }
        device_display_name: { type: string, minLength: 1, maxLength: 128 }
        device_type: { type: string, minLength: 1, maxLength: 64 }
        device_created_at: { type: string, format: date-time }
        last_seen_at: { type: [string, "null"], format: date-time }
    Device:
      type: object
      additionalProperties: false
      required: [device_id, user_id, device_display_name, device_type, created_at]
      properties:
        device_id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        device_display_name: { type: string, minLength: 1, maxLength: 128 }
        device_type: { type: string, minLength: 1, maxLength: 64 }
        created_at: { type: string, format: date-time }
        last_seen_at: { type: [string, "null"], format: date-time }
    DeviceList:
      type: object
      additionalProperties: false
      required: [devices]
      properties:
        devices:
          type: array
          items: { $ref: "#/components/schemas/Device" }
    ProtocolMajor:
      type: integer
      minimum: 1
      maximum: 255
      description: >-
        Wire-protocol major. This contract defines major 1. A receiver must not reinterpret an
        unsupported major as v1.
    ConnectionId:
      type: string
      format: uuid
      description: Server-issued identifier for one WebSocket connection; never a command, event, operation or delivery identifier.
    CommandId:
      type: string
      format: uuid
      description: Caller-issued idempotency key for one device command, retained for 86,400 seconds.
    EventId:
      type: string
      format: uuid
      description: Server-issued identifier for one directory or presence event; never reused as a command identifier.
    OperationId:
      type: string
      format: uuid
      description: Reserved identifier for a future durable operation lifecycle; it does not make a v1 device command durable.
    DeliveryId:
      type: string
      format: uuid
      description: Reserved identifier for a future asynchronous delivery lifecycle; it is not interchangeable with command_id or event_id.
    DeviceControlScope:
      type: string
      enum:
        - device.directory.read
        - entity.state.read
        - media.control
        - display.control
        - actuator.control
      description: Server-side authorization policy. Roles and capabilities are not scopes and grant nothing by themselves.
    DeviceRole:
      type: string
      enum: [controller, player, display_surface, voice_endpoint, sensor_source, actuator, integration_adapter]
      description: >-
        Truthful endpoint function, not an authorization grant. integration_adapter is reserved for
        a separate future integration identity and is rejected on a paired native-device session.
    Presence:
      type: object
      additionalProperties: false
      required: [status, last_seen_at]
      properties:
        status: { type: string, enum: [online, offline] }
        last_seen_at: { type: [string, "null"], format: date-time }
        offline_reason:
          type: string
          enum: [graceful_disconnect, heartbeat_expired, replaced, revoked, transport_lost]
      description: Online means a registered connection is live; it does not promise that an external receiver is available.
    StateFreshness:
      type: object
      additionalProperties: false
      required: [status, observed_at, received_at, stale_after]
      properties:
        status: { type: string, enum: [fresh, stale, unknown] }
        observed_at: { type: [string, "null"], format: date-time }
        received_at: { type: [string, "null"], format: date-time }
        stale_after: { type: [string, "null"], format: date-time }
    DeviceControlDirectory:
      type: object
      additionalProperties: false
      required: [protocol_version, generated_at, directory_revision, granted_scopes, devices]
      properties:
        protocol_version: { type: integer, const: 1 }
        generated_at: { type: string, format: date-time }
        directory_revision: { type: integer, format: int64, minimum: 1 }
        granted_scopes:
          type: array
          uniqueItems: true
          maxItems: 5
          items: { $ref: "#/components/schemas/DeviceControlScope" }
        devices:
          type: array
          maxItems: 50
          items: { $ref: "#/components/schemas/DeviceControlDirectoryEntry" }
      description: >-
        Complete permitted collection. It contains no device secrets, tokens, pairing material,
        provider-native identifiers or cross-account records.
    DeviceControlDirectoryEntry:
      type: object
      additionalProperties: false
      required: [device_id, device_display_name, device_type, roles, capabilities, presence, state_freshness, entities, surfaces]
      properties:
        device_id: { type: string, format: uuid }
        device_display_name: { type: string, minLength: 1, maxLength: 128 }
        device_type: { type: string, minLength: 1, maxLength: 64 }
        roles:
          type: array
          uniqueItems: true
          maxItems: 8
          items: { $ref: "#/components/schemas/DeviceRole" }
        capabilities: { $ref: "#/components/schemas/DeviceCapabilities" }
        presence: { $ref: "#/components/schemas/Presence" }
        state_freshness: { $ref: "#/components/schemas/StateFreshness" }
        entities:
          type: array
          maxItems: 256
          items: { $ref: "#/components/schemas/EntityDirectoryEntry" }
        surfaces:
          type: array
          maxItems: 16
          items: { $ref: "#/components/schemas/SurfaceManifestEntry" }
    DeviceCapabilities:
      type: object
      additionalProperties: false
      required: [revision, items]
      properties:
        revision: { type: integer, format: int64, minimum: 1 }
        items:
          type: array
          uniqueItems: true
          maxItems: 32
          items: { $ref: "#/components/schemas/DeviceCapability" }
      description: Stable supported-function manifest; runtime state never belongs here.
    DeviceCapability:
      oneOf:
        - $ref: "#/components/schemas/PlaybackCapability"
        - $ref: "#/components/schemas/StationCapability"
        - $ref: "#/components/schemas/VolumeCapability"
        - $ref: "#/components/schemas/ChromecastCapability"
        - $ref: "#/components/schemas/RelayCapability"
        - $ref: "#/components/schemas/DisplayCapability"
        - $ref: "#/components/schemas/SensorCapability"
        - $ref: "#/components/schemas/ActuatorCapability"
        - $ref: "#/components/schemas/VoiceInputCapability"
        - $ref: "#/components/schemas/UnknownCapability"
      discriminator:
        propertyName: name
        mapping:
          media.playback: "#/components/schemas/PlaybackCapability"
          media.station: "#/components/schemas/StationCapability"
          media.volume: "#/components/schemas/VolumeCapability"
          media.chromecast: "#/components/schemas/ChromecastCapability"
          media.relay: "#/components/schemas/RelayCapability"
          display.presentation: "#/components/schemas/DisplayCapability"
          entity.sensor: "#/components/schemas/SensorCapability"
          entity.actuator: "#/components/schemas/ActuatorCapability"
          voice.input: "#/components/schemas/VoiceInputCapability"
    UnknownCapability:
      type: object
      additionalProperties: true
      required: [name, version]
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 96
          pattern: "^[a-z][a-z0-9]*(?:\\.[a-z][a-z0-9_]*)+$"
        version: { type: integer, minimum: 1, maximum: 255 }
      not:
        properties:
          name:
            enum:
              - media.playback
              - media.station
              - media.volume
              - media.chromecast
              - media.relay
              - display.presentation
              - entity.sensor
              - entity.actuator
              - voice.input
        required: [name]
      description: Forward-compatible capability extension. Controllers that do not understand it hide it.
    PlaybackCapability:
      type: object
      additionalProperties: false
      required: [name, version, actions]
      properties:
        name: { const: media.playback }
        version: { type: integer, const: 1 }
        actions:
          type: array
          uniqueItems: true
          maxItems: 5
          items: { type: string, enum: [play, pause, stop, next, previous] }
    StationCapability:
      type: object
      additionalProperties: false
      required: [name, version, sources]
      properties:
        name: { const: media.station }
        version: { type: integer, const: 1 }
        sources:
          type: array
          uniqueItems: true
          maxItems: 2
          items: { type: string, enum: [rockserver_catalog, direct_stream] }
    VolumeCapability:
      type: object
      additionalProperties: false
      required: [name, version, minimum, maximum, step, mute]
      properties:
        name: { const: media.volume }
        version: { type: integer, const: 1 }
        minimum: { type: integer, const: 0 }
        maximum: { type: integer, const: 100 }
        step: { type: integer, minimum: 1, maximum: 100 }
        mute: { type: boolean }
    ChromecastCapability:
      type: object
      additionalProperties: false
      required: [name, version, actions, discovery_ttl_seconds]
      properties:
        name: { const: media.chromecast }
        version: { type: integer, const: 1 }
        actions:
          type: array
          uniqueItems: true
          maxItems: 3
          items: { type: string, enum: [discover, connect, disconnect] }
        discovery_ttl_seconds: { type: integer, minimum: 5, maximum: 300 }
    RelayCapability:
      type: object
      additionalProperties: false
      required: [name, version, actions, modes]
      properties:
        name: { const: media.relay }
        version: { type: integer, const: 1 }
        actions:
          type: array
          uniqueItems: true
          maxItems: 3
          items: { type: string, enum: [start, stop, set_mode] }
        modes:
          type: array
          uniqueItems: true
          maxItems: 8
          items: { type: string, minLength: 1, maxLength: 32, pattern: "^[a-z][a-z0-9_]*$" }
    DisplayCapability:
      type: object
      additionalProperties: false
      required: [name, version, views, max_items, max_text_length]
      properties:
        name: { const: display.presentation }
        version: { type: integer, const: 1 }
        views:
          type: array
          uniqueItems: true
          maxItems: 3
          items: { type: string, enum: [text, now_playing, sensor_grid] }
        max_items: { type: integer, minimum: 1, maximum: 32 }
        max_text_length: { type: integer, minimum: 1, maximum: 1024 }
    SensorCapability:
      type: object
      additionalProperties: false
      required: [name, version, entity_classes]
      properties:
        name: { const: entity.sensor }
        version: { type: integer, const: 1 }
        entity_classes:
          type: array
          uniqueItems: true
          maxItems: 32
          items: { type: string, minLength: 1, maxLength: 64, pattern: "^[a-z][a-z0-9_]*$" }
    ActuatorCapability:
      type: object
      additionalProperties: false
      required: [name, version, commands]
      properties:
        name: { const: entity.actuator }
        version: { type: integer, const: 1 }
        commands:
          type: array
          uniqueItems: true
          maxItems: 3
          items: { type: string, enum: [entity.turn_on, entity.turn_off, entity.set_value] }
      description: Declares typed v1 actuator command schemas only; it is not an authorization grant.
    VoiceInputCapability:
      type: object
      additionalProperties: false
      required: [name, version, formats]
      properties:
        name: { const: voice.input }
        version: { type: integer, const: 1 }
        formats:
          type: array
          uniqueItems: true
          maxItems: 4
          items: { type: string, enum: [pcm16_mono_16000] }
      description: Announces a voice endpoint only; binary audio never enters the device-control JSON channel.
    EntityManifestEntry:
      type: object
      additionalProperties: false
      required: [entity_id, domain, device_class, display_name, readable, controllable, unit, stale_after_seconds, allowed_commands]
      properties:
        entity_id: { type: string, minLength: 3, maxLength: 128, pattern: "^[a-z][a-z0-9_]*\\.[a-z0-9][a-z0-9_.-]*$" }
        domain: { type: string, enum: [sensor, switch, light, media_player] }
        device_class: { type: string, minLength: 1, maxLength: 64, pattern: "^[a-z][a-z0-9_]*$" }
        display_name: { type: string, minLength: 1, maxLength: 128 }
        readable: { type: boolean }
        controllable: { type: boolean }
        unit: { type: [string, "null"], maxLength: 16 }
        stale_after_seconds: { type: integer, minimum: 1, maximum: 86400 }
        allowed_commands:
          type: array
          uniqueItems: true
          maxItems: 3
          items: { type: string, enum: [entity.turn_on, entity.turn_off, entity.set_value] }
        minimum: { type: number }
        maximum: { type: number }
        step: { type: number, exclusiveMinimum: 0 }
      description: Public normalized entity metadata. Provider-native identifiers and credentials are forbidden.
    EntityDirectoryEntry:
      type: object
      additionalProperties: false
      required: [entity_id, domain, device_class, display_name, readable, controllable, unit, stale_after_seconds, allowed_commands]
      properties:
        entity_id: { type: string, minLength: 3, maxLength: 128, pattern: "^[a-z][a-z0-9_]*\\.[a-z0-9][a-z0-9_.-]*$" }
        domain: { type: string, enum: [sensor, switch, light, media_player] }
        device_class: { type: string, minLength: 1, maxLength: 64, pattern: "^[a-z][a-z0-9_]*$" }
        display_name: { type: string, minLength: 1, maxLength: 128 }
        readable: { type: boolean }
        controllable: { type: boolean }
        unit: { type: [string, "null"], maxLength: 16 }
        stale_after_seconds: { type: integer, minimum: 1, maximum: 86400 }
        allowed_commands:
          type: array
          uniqueItems: true
          maxItems: 3
          items: { type: string, enum: [entity.turn_on, entity.turn_off, entity.set_value] }
        minimum: { type: number }
        maximum: { type: number }
        step: { type: number, exclusiveMinimum: 0 }
        state: { $ref: "#/components/schemas/EntityStateSnapshot" }
      description: >-
        Public normalized entity metadata; state is omitted without entity.state.read. Secrets and
        provider-native identifiers are forbidden.
    SurfaceManifestEntry:
      type: object
      additionalProperties: false
      required: [surface_id, kind, display_name, views]
      properties:
        surface_id: { type: string, minLength: 3, maxLength: 128, pattern: "^[a-z][a-z0-9_]*\\.[a-z0-9][a-z0-9_.-]*$" }
        kind: { type: string, enum: [display, voice, mobile] }
        display_name: { type: string, minLength: 1, maxLength: 128 }
        views:
          type: array
          uniqueItems: true
          maxItems: 3
          items: { type: string, enum: [text, now_playing, sensor_grid] }
    DeviceManifest:
      type: object
      additionalProperties: false
      required: [manifest_revision, roles, capabilities, entities, surfaces]
      properties:
        manifest_revision: { type: integer, format: int64, minimum: 1 }
        roles:
          type: array
          uniqueItems: true
          maxItems: 8
          items: { $ref: "#/components/schemas/DeviceRole" }
        capabilities: { $ref: "#/components/schemas/DeviceCapabilities" }
        entities:
          type: array
          maxItems: 256
          items: { $ref: "#/components/schemas/EntityManifestEntry" }
        surfaces:
          type: array
          maxItems: 16
          items: { $ref: "#/components/schemas/SurfaceManifestEntry" }
      description: >-
        Full replacement manifest. Revisions are unsigned monotonic integers per device identity.
        A lower revision is stale; an equal revision is accepted only when the content is identical.
    EntityStateValue:
      oneOf:
        - type: boolean
        - type: number
        - type: string
          maxLength: 256
        - type: "null"
    EntityStateSnapshot:
      type: object
      additionalProperties: false
      required: [entity_id, entity_revision, value, unit, quality, observed_at, stale_after]
      properties:
        entity_id: { type: string, minLength: 3, maxLength: 128 }
        entity_revision: { type: integer, format: int64, minimum: 1 }
        value: { $ref: "#/components/schemas/EntityStateValue" }
        unit: { type: [string, "null"], maxLength: 16 }
        quality: { type: string, enum: [ok, degraded, unavailable, unknown] }
        freshness:
          type: string
          enum: [fresh, stale, unknown]
          readOnly: true
          description: Computed by RockServer from received_at and stale_after before projection or fan-out.
        observed_at: { type: string, format: date-time }
        received_at:
          type: string
          format: date-time
          readOnly: true
          description: Added by RockServer before persistence, HTTP projection or fan-out.
        stale_after: { type: string, format: date-time }
      description: >-
        Latest normalized state regardless of whether the source is a paired device or future
        integration adapter. Freshness is computed from received_at/stale_after; unavailable or
        stale values must not be presented as current.
    PlaybackRuntimeState:
      type: object
      additionalProperties: false
      required: [status, station_id]
      properties:
        status: { type: string, enum: [idle, playing, paused, stopped, buffering, error] }
        station_id: { type: [string, "null"], minLength: 1, maxLength: 128 }
    VolumeRuntimeState:
      type: object
      additionalProperties: false
      required: [level, muted]
      properties:
        level: { type: integer, minimum: 0, maximum: 100 }
        muted: { type: boolean }
    OutputRuntimeState:
      type: object
      additionalProperties: false
      required: [mode]
      properties:
        mode: { type: string, enum: [local, chromecast, relay] }
        receiver_id: { type: string, minLength: 1, maxLength: 128 }
    DisplayRuntimeState:
      type: object
      additionalProperties: false
      required: [surface_id, view]
      properties:
        surface_id: { type: string, minLength: 3, maxLength: 128 }
        view: { type: string, enum: [text, now_playing, sensor_grid, dismissed] }
    DeviceRuntimeState:
      type: object
      additionalProperties: false
      properties:
        playback: { $ref: "#/components/schemas/PlaybackRuntimeState" }
        volume: { $ref: "#/components/schemas/VolumeRuntimeState" }
        output: { $ref: "#/components/schemas/OutputRuntimeState" }
        display: { $ref: "#/components/schemas/DisplayRuntimeState" }
      description: Mutable observed state; it neither declares support nor requests an action.
    DeviceStateSnapshot:
      type: object
      additionalProperties: false
      required: [state_revision, observed_at, state]
      properties:
        state_revision: { type: integer, format: int64, minimum: 1 }
        observed_at: { type: string, format: date-time }
        received_at: { type: string, format: date-time, readOnly: true }
        state: { $ref: "#/components/schemas/DeviceRuntimeState" }
      description: Full state after registration/reconnect. Equal revision is idempotent only with identical content; lower is stale.
    DeviceStateDelta:
      type: object
      additionalProperties: false
      required: [base_revision, state_revision, observed_at, changes]
      properties:
        base_revision: { type: integer, format: int64, minimum: 1 }
        state_revision: { type: integer, format: int64, minimum: 2 }
        observed_at: { type: string, format: date-time }
        received_at: { type: string, format: date-time, readOnly: true }
        changes: { $ref: "#/components/schemas/DeviceRuntimeState" }
      description: >-
        Delta is accepted only when base_revision equals the last accepted revision and
        state_revision is exactly base_revision + 1. A gap requests a full resync.
    DeviceCommandTarget:
      oneOf:
        - $ref: "#/components/schemas/DeviceTarget"
        - $ref: "#/components/schemas/EntityTarget"
        - $ref: "#/components/schemas/SurfaceTarget"
      description: Exactly one explicit target; v1 has no implicit or broadcast target.
    DeviceTarget:
      type: object
      additionalProperties: false
      required: [device_id]
      properties:
        device_id: { type: string, format: uuid }
    EntityTarget:
      type: object
      additionalProperties: false
      required: [device_id, entity_id]
      properties:
        device_id: { type: string, format: uuid }
        entity_id: { type: string, minLength: 3, maxLength: 128 }
    SurfaceTarget:
      type: object
      additionalProperties: false
      required: [device_id, surface_id]
      properties:
        device_id: { type: string, format: uuid }
        surface_id: { type: string, minLength: 3, maxLength: 128 }
    DeviceCommandBody:
      oneOf:
        - $ref: "#/components/schemas/PlaybackCommand"
        - $ref: "#/components/schemas/StationCommand"
        - $ref: "#/components/schemas/VolumeCommand"
        - $ref: "#/components/schemas/ChromecastCommand"
        - $ref: "#/components/schemas/RelayCommand"
        - $ref: "#/components/schemas/DisplayCommand"
        - $ref: "#/components/schemas/ActuatorCommand"
        - $ref: "#/components/schemas/UnknownCommandBody"
      discriminator:
        propertyName: name
        mapping:
          playback.play: "#/components/schemas/PlaybackCommand"
          playback.pause: "#/components/schemas/PlaybackCommand"
          playback.stop: "#/components/schemas/PlaybackCommand"
          playback.next: "#/components/schemas/PlaybackCommand"
          playback.previous: "#/components/schemas/PlaybackCommand"
          station.play_station: "#/components/schemas/StationCommand"
          station.play_stream: "#/components/schemas/StationCommand"
          volume.set_volume: "#/components/schemas/VolumeCommand"
          volume.change_volume: "#/components/schemas/VolumeCommand"
          volume.set_mute: "#/components/schemas/VolumeCommand"
          chromecast.discover: "#/components/schemas/ChromecastCommand"
          chromecast.connect: "#/components/schemas/ChromecastCommand"
          chromecast.disconnect: "#/components/schemas/ChromecastCommand"
          relay.start: "#/components/schemas/RelayCommand"
          relay.stop: "#/components/schemas/RelayCommand"
          relay.set_mode: "#/components/schemas/RelayCommand"
          display.show_view: "#/components/schemas/DisplayCommand"
          display.show_text: "#/components/schemas/DisplayCommand"
          display.dismiss: "#/components/schemas/DisplayCommand"
          entity.turn_on: "#/components/schemas/ActuatorCommand"
          entity.turn_off: "#/components/schemas/ActuatorCommand"
          entity.set_value: "#/components/schemas/ActuatorCommand"
      description: >-
        Compact allowlisted v1 command union. Unknown names are not coerced into an arbitrary JSON
        tool call; a target returns unsupported_command.
    UnknownCommandBody:
      type: object
      additionalProperties: true
      required: [name]
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 96
          pattern: "^[a-z][a-z0-9]*(?:\\.[a-z][a-z0-9_]*)+$"
      not:
        properties:
          name:
            enum:
              - playback.play
              - playback.pause
              - playback.stop
              - playback.next
              - playback.previous
              - station.play_station
              - station.play_stream
              - volume.set_volume
              - volume.change_volume
              - volume.set_mute
              - chromecast.discover
              - chromecast.connect
              - chromecast.disconnect
              - relay.start
              - relay.stop
              - relay.set_mode
              - display.show_view
              - display.show_text
              - display.dismiss
              - entity.turn_on
              - entity.turn_off
              - entity.set_value
        required: [name]
      description: >-
        Forward-compatible command envelope. It is transport-valid but has no executable v1
        handler, so the target returns unsupported_command. Known command bodies remain strict.
    PlaybackCommand:
      type: object
      additionalProperties: false
      required: [name]
      properties:
        name:
          type: string
          enum: [playback.play, playback.pause, playback.stop, playback.next, playback.previous]
    StationCommand:
      oneOf:
        - type: object
          additionalProperties: false
          required: [name, station_id]
          properties:
            name: { const: station.play_station }
            station_id: { type: string, minLength: 1, maxLength: 128 }
          description: >-
            Controller supplies only the stable RockServer station_id. RockServer resolves the
            current catalog stream and dispatches a validated station.play_stream under the same
            command_id; the controller never chooses a catalog stream URL.
        - type: object
          additionalProperties: false
          required: [name, source, stream_uri]
          properties:
            name: { const: station.play_stream }
            source: { type: string, enum: [rockserver_catalog, direct_stream] }
            stream_uri:
              type: string
              format: uri
              pattern: "^https?://"
              maxLength: 2048
              description: >-
                Allowed only when media.station advertises direct_stream. The absolute HTTP(S) URI
                must have a host, no userinfo or fragment, and a TCP port in 1..65535 (including the
                scheme default). RockServer and the target validate every DNS result and at most five
                redirects and reject loopback, private, link-local, multicast and reserved
                destinations; the URI must not be logged. Controllers may send only
                source=direct_stream. RockServer transforms station.play_station into
                source=rockserver_catalog under the same command_id after catalog resolution.
    VolumeCommand:
      oneOf:
        - type: object
          additionalProperties: false
          required: [name, level]
          properties:
            name: { const: volume.set_volume }
            level: { type: integer, minimum: 0, maximum: 100 }
        - type: object
          additionalProperties: false
          required: [name, delta]
          properties:
            name: { const: volume.change_volume }
            delta: { type: integer, minimum: -100, maximum: 100, not: { const: 0 } }
        - type: object
          additionalProperties: false
          required: [name, muted]
          properties:
            name: { const: volume.set_mute }
            muted: { type: boolean }
    ChromecastCommand:
      oneOf:
        - type: object
          additionalProperties: false
          required: [name]
          properties:
            name: { const: chromecast.discover }
        - type: object
          additionalProperties: false
          required: [name, receiver_id]
          properties:
            name: { const: chromecast.connect }
            receiver_id: { type: string, minLength: 1, maxLength: 128 }
        - type: object
          additionalProperties: false
          required: [name]
          properties:
            name: { const: chromecast.disconnect }
    RelayCommand:
      oneOf:
        - type: object
          additionalProperties: false
          required: [name]
          properties:
            name: { const: relay.start }
        - type: object
          additionalProperties: false
          required: [name]
          properties:
            name: { const: relay.stop }
        - type: object
          additionalProperties: false
          required: [name, mode]
          properties:
            name: { const: relay.set_mode }
            mode: { type: string, minLength: 1, maxLength: 32, pattern: "^[a-z][a-z0-9_]*$" }
    SensorGridItem:
      type: object
      additionalProperties: false
      required: [entity_id, label, value, unit, quality, freshness]
      properties:
        entity_id: { type: string, minLength: 3, maxLength: 128 }
        label: { type: string, minLength: 1, maxLength: 64 }
        value: { $ref: "#/components/schemas/EntityStateValue" }
        unit: { type: [string, "null"], maxLength: 16 }
        quality: { type: string, enum: [ok, degraded, unavailable, unknown] }
        freshness: { type: string, enum: [fresh, stale, unknown] }
    DisplayCommand:
      oneOf:
        - type: object
          additionalProperties: false
          required: [name, view, title, items]
          properties:
            name: { const: display.show_view }
            view: { const: sensor_grid }
            title: { type: string, minLength: 1, maxLength: 128 }
            items:
              type: array
              maxItems: 32
              items: { $ref: "#/components/schemas/SensorGridItem" }
          description: sensor_grid carries normalized values and explicit freshness, independent of their provider source.
        - type: object
          additionalProperties: false
          required: [name, view, station_id, title]
          properties:
            name: { const: display.show_view }
            view: { const: now_playing }
            station_id: { type: string, minLength: 1, maxLength: 128 }
            title: { type: string, minLength: 1, maxLength: 128 }
            subtitle: { type: string, maxLength: 256 }
        - type: object
          additionalProperties: false
          required: [name, text]
          properties:
            name: { const: display.show_text }
            text: { type: string, minLength: 1, maxLength: 1024 }
        - type: object
          additionalProperties: false
          required: [name]
          properties:
            name: { const: display.dismiss }
    ActuatorCommand:
      oneOf:
        - type: object
          additionalProperties: false
          required: [name]
          properties:
            name: { const: entity.turn_on }
        - type: object
          additionalProperties: false
          required: [name]
          properties:
            name: { const: entity.turn_off }
        - type: object
          additionalProperties: false
          required: [name, value]
          properties:
            name: { const: entity.set_value }
            value: { type: number }
      description: >-
        Valid only for an explicit EntityTarget whose manifest declares the exact command and
        numeric bounds, and only after actuator.control plus confirmation policy succeeds.
    DeviceCommandPayload:
      type: object
      additionalProperties: false
      required: [command_id, target, body]
      properties:
        command_id: { $ref: "#/components/schemas/CommandId" }
        target: { $ref: "#/components/schemas/DeviceCommandTarget" }
        deadline_at:
          type: string
          format: date-time
          description: >-
            Optional absolute deadline. When absent the server uses 10 seconds; requested deadlines
            are capped at 30 seconds from receipt and are never an offline queue.
        body: { $ref: "#/components/schemas/DeviceCommandBody" }
      description: >-
        Actor identity is never accepted from this payload. The server derives it from the native
        session and verifies same-owner target, scope, role, capability, schema and presence.
    ChromecastReceiver:
      type: object
      additionalProperties: false
      required: [receiver_id, display_name, discovered_at, expires_at]
      properties:
        receiver_id: { type: string, minLength: 1, maxLength: 128 }
        display_name: { type: string, minLength: 1, maxLength: 128 }
        discovered_at: { type: string, format: date-time }
        expires_at: { type: string, format: date-time }
      description: Ephemeral player-local receiver handle; it is not a device-control identity.
    CommandResultOutput:
      type: object
      additionalProperties: false
      properties:
        receivers:
          type: array
          maxItems: 32
          items: { $ref: "#/components/schemas/ChromecastReceiver" }
        state_revision: { type: integer, format: int64, minimum: 1 }
        entity_revision: { type: integer, format: int64, minimum: 1 }
    DeviceControlErrorCode:
      type: string
      enum:
        - authentication_required
        - forbidden
        - unsupported_protocol_version
        - invalid_message
        - frame_too_large
        - rate_limited
        - target_offline
        - capability_not_supported
        - unsupported_command
        - invalid_payload
        - stale_revision
        - command_timeout
        - duplicate_command
        - too_many_in_flight
    DeviceControlError:
      type: object
      additionalProperties: false
      required: [code, message, request_id, details]
      properties:
        code: { $ref: "#/components/schemas/DeviceControlErrorCode" }
        message: { type: string, minLength: 1, maxLength: 512 }
        request_id: { type: string, minLength: 1, maxLength: 128 }
        details:
          type: object
          maxProperties: 16
          additionalProperties: true
      description: >-
        Reuses the HTTP error shape. Cross-owner and unknown targets use the same forbidden response
        so another account's target existence cannot be inferred.
    CommandReceivedPayload:
      type: object
      additionalProperties: false
      required: [command_id, received_at, duplicate]
      properties:
        command_id: { $ref: "#/components/schemas/CommandId" }
        received_at: { type: string, format: date-time }
        duplicate: { type: boolean }
      description: >-
        Confirms server receipt, not execution. A same-payload duplicate within 86,400 seconds
        replays the stored lifecycle/result; a reused command_id with different target/body is
        duplicate_command. Limits are 16 in-flight per controller connection and 8 per target.
    CommandAcceptedPayload:
      type: object
      additionalProperties: false
      required: [command_id, accepted_at]
      properties:
        command_id: { $ref: "#/components/schemas/CommandId" }
        accepted_at: { type: string, format: date-time }
      description: Target acknowledged that it began handling the command; this is not terminal success.
    CommandResultPayload:
      type: object
      additionalProperties: false
      required: [command_id, status, completed_at, error]
      properties:
        command_id: { $ref: "#/components/schemas/CommandId" }
        status: { type: string, enum: [succeeded, failed] }
        completed_at: { type: string, format: date-time }
        error:
          oneOf:
            - $ref: "#/components/schemas/DeviceControlError"
            - type: "null"
        output: { $ref: "#/components/schemas/CommandResultOutput" }
      description: >-
        Exactly one terminal result exists per command_id. Succeeded requires error=null; failed
        requires a structured error. Only a target-originated result may establish physical success;
        a separate state or entity revision confirms the observed state.
    ControlMessageEnvelope:
      type: object
      additionalProperties: true
      required: [protocol_version, message_id, type, sent_at, payload]
      properties:
        protocol_version: { $ref: "#/components/schemas/ProtocolMajor" }
        message_id:
          type: string
          format: uuid
          description: Unique per sender for transport diagnostics; it is not an idempotency or lifecycle identifier.
        type:
          type: string
          minLength: 3
          maxLength: 96
          pattern: "^[a-z][a-z0-9]*(?:\\.[a-z][a-z0-9_]*)+$"
        sent_at: { type: string, format: date-time }
        payload: { type: object }
      description: >-
        Common UTF-8 JSON text-frame envelope. connection_id, command_id, event_id, operation_id
        and delivery_id have separate lifecycles and must never substitute for one another. Actor
        identity is derived from the authenticated connection, never trusted from payload. Binary
        frames are invalid. Within major v1, optional fields may be added but existing field
        semantics may not change. Receivers ignore unknown optional envelope/message fields and
        unknown message types only when doing so is safe; unknown commands are answered with
        unsupported_command and unknown capabilities are hidden by older controllers. Known command
        bodies remain strict at the execution boundary. Deprecation requires at least one published
        minor-contract cycle and documentation before removal in a later major.
    ProtocolHelloPayload:
      type: object
      additionalProperties: true
      required: [supported_protocol_versions]
      properties:
        supported_protocol_versions:
          type: array
          minItems: 1
          maxItems: 4
          uniqueItems: true
          items: { $ref: "#/components/schemas/ProtocolMajor" }
    ProtocolWelcomePayload:
      type: object
      additionalProperties: true
      required: [selected_protocol_version, connection_id, registration_deadline_seconds, limits]
      properties:
        selected_protocol_version: { type: integer, const: 1 }
        connection_id: { $ref: "#/components/schemas/ConnectionId" }
        registration_deadline_seconds: { type: integer, const: 10 }
        limits: { $ref: "#/components/schemas/DeviceControlLimits" }
    DeviceControlLimits:
      type: object
      additionalProperties: false
      required:
        - max_json_frame_bytes
        - max_payload_bytes
        - max_capabilities
        - max_entities
        - max_surfaces
        - max_directory_devices
        - heartbeat_interval_seconds
        - offline_ttl_seconds
        - max_in_flight_per_connection
        - max_in_flight_per_target_device
        - default_command_timeout_seconds
        - max_command_timeout_seconds
        - command_idempotency_window_seconds
        - max_stream_redirects
      properties:
        max_json_frame_bytes: { type: integer, const: 65536 }
        max_payload_bytes: { type: integer, const: 61440 }
        max_capabilities: { type: integer, const: 32 }
        max_entities: { type: integer, const: 256 }
        max_surfaces: { type: integer, const: 16 }
        max_directory_devices: { type: integer, const: 50 }
        heartbeat_interval_seconds: { type: integer, const: 20 }
        offline_ttl_seconds: { type: integer, const: 60 }
        max_in_flight_per_connection: { type: integer, const: 16 }
        max_in_flight_per_target_device: { type: integer, const: 8 }
        default_command_timeout_seconds: { type: integer, const: 10 }
        max_command_timeout_seconds: { type: integer, const: 30 }
        command_idempotency_window_seconds: { type: integer, const: 86400 }
        max_stream_redirects: { type: integer, const: 5 }
    DeviceRegisterPayload:
      type: object
      additionalProperties: false
      required: [device_type, app_version, manifest]
      properties:
        device_type: { type: string, minLength: 1, maxLength: 64 }
        app_version: { type: string, minLength: 1, maxLength: 64 }
        manifest: { $ref: "#/components/schemas/DeviceManifest" }
      description: >-
        Full truthful registration. It deliberately has no user_id, device_id, credential, pairing
        or actor field; the authenticated session supplies identity.
    DeviceRegisteredPayload:
      type: object
      additionalProperties: true
      required: [connection_id, authenticated_user_id, authenticated_device_id, granted_scopes, heartbeat_interval_seconds, offline_ttl_seconds, require_full_state]
      properties:
        connection_id: { $ref: "#/components/schemas/ConnectionId" }
        authenticated_user_id: { type: string, format: uuid, readOnly: true }
        authenticated_device_id: { type: string, format: uuid, readOnly: true }
        granted_scopes:
          type: array
          uniqueItems: true
          maxItems: 5
          items: { $ref: "#/components/schemas/DeviceControlScope" }
        heartbeat_interval_seconds: { type: integer, const: 20 }
        offline_ttl_seconds: { type: integer, const: 60 }
        require_full_state: { type: boolean, const: true }
      description: Server-derived identity and policy. Registration data cannot alter these values.
    DeviceHeartbeatPayload:
      type: object
      additionalProperties: true
      required: [sequence]
      properties:
        sequence: { type: integer, format: int64, minimum: 0 }
    DeviceHeartbeatAckPayload:
      type: object
      additionalProperties: true
      required: [sequence, server_time]
      properties:
        sequence: { type: integer, format: int64, minimum: 0 }
        server_time: { type: string, format: date-time }
    DeviceManifestPayload:
      type: object
      additionalProperties: true
      required: [manifest]
      properties:
        source_device_id: { type: string, format: uuid, readOnly: true }
        manifest: { $ref: "#/components/schemas/DeviceManifest" }
    DeviceStateFullPayload:
      type: object
      additionalProperties: true
      required: [snapshot]
      properties:
        source_device_id: { type: string, format: uuid, readOnly: true }
        snapshot: { $ref: "#/components/schemas/DeviceStateSnapshot" }
    DeviceStateDeltaPayload:
      type: object
      additionalProperties: true
      required: [delta]
      properties:
        source_device_id: { type: string, format: uuid, readOnly: true }
        delta: { $ref: "#/components/schemas/DeviceStateDelta" }
    EntityStatePayload:
      type: object
      additionalProperties: true
      required: [state]
      properties:
        source_device_id: { type: string, format: uuid, readOnly: true }
        state: { $ref: "#/components/schemas/EntityStateSnapshot" }
      description: >-
        Device-originated frames omit source_device_id; the server derives it from the connection
        and adds it only to authorized forwarded events. Entity revisions are monotonic per entity;
        lower/equal-different revisions are stale and a gap requests a full entity state.
    PresenceChangedPayload:
      type: object
      additionalProperties: true
      required: [event_id, device_id, presence]
      properties:
        event_id: { $ref: "#/components/schemas/EventId" }
        device_id: { type: string, format: uuid }
        presence: { $ref: "#/components/schemas/Presence" }
    ResyncRequestedPayload:
      type: object
      additionalProperties: true
      required: [kind, reason]
      properties:
        kind: { type: string, enum: [manifest, device_state, entity_state] }
        entity_id: { type: string, minLength: 3, maxLength: 128 }
        reason: { type: string, enum: [reconnect, missing_base, revision_gap, conflicting_revision] }
      description: Full manifest and full device state are always required after reconnect; deltas never bridge connections.
    DirectorySnapshotPayload:
      type: object
      additionalProperties: true
      required: [event_id, directory]
      properties:
        event_id: { $ref: "#/components/schemas/EventId" }
        directory: { $ref: "#/components/schemas/DeviceControlDirectory" }
      description: Automatically sent to registered controllers with device.directory.read; v1 needs no separate subscription message.
    DirectoryUpsertPayload:
      type: object
      additionalProperties: true
      required: [event_id, directory_revision, device]
      properties:
        event_id: { $ref: "#/components/schemas/EventId" }
        directory_revision: { type: integer, format: int64, minimum: 1 }
        device: { $ref: "#/components/schemas/DeviceControlDirectoryEntry" }
    DirectoryRemovalPayload:
      type: object
      additionalProperties: true
      required: [event_id, directory_revision, device_id, reason]
      properties:
        event_id: { $ref: "#/components/schemas/EventId" }
        directory_revision: { type: integer, format: int64, minimum: 1 }
        device_id: { type: string, format: uuid }
        reason: { type: string, enum: [revoked, no_longer_permitted, removed] }
    ProtocolErrorPayload:
      type: object
      additionalProperties: true
      required: [error]
      properties:
        error: { $ref: "#/components/schemas/DeviceControlError" }
        in_reply_to_message_id: { type: string, format: uuid }
        command_id: { $ref: "#/components/schemas/CommandId" }
      description: Error correlation never changes the lifecycle meaning of message_id or command_id.
    ProtocolHelloMessage:
      allOf:
        - $ref: "#/components/schemas/ControlMessageEnvelope"
        - type: object
          properties:
            type: { const: protocol.hello }
            payload: { $ref: "#/components/schemas/ProtocolHelloPayload" }
    ProtocolWelcomeMessage:
      allOf:
        - $ref: "#/components/schemas/ControlMessageEnvelope"
        - type: object
          properties:
            type: { const: protocol.welcome }
            payload: { $ref: "#/components/schemas/ProtocolWelcomePayload" }
    DeviceRegisterMessage:
      allOf:
        - $ref: "#/components/schemas/ControlMessageEnvelope"
        - type: object
          properties:
            type: { const: device.register }
            payload: { $ref: "#/components/schemas/DeviceRegisterPayload" }
    DeviceRegisteredMessage:
      allOf:
        - $ref: "#/components/schemas/ControlMessageEnvelope"
        - type: object
          properties:
            type: { const: device.registered }
            payload: { $ref: "#/components/schemas/DeviceRegisteredPayload" }
    DeviceHeartbeatMessage:
      allOf:
        - $ref: "#/components/schemas/ControlMessageEnvelope"
        - type: object
          properties:
            type: { const: device.heartbeat }
            payload: { $ref: "#/components/schemas/DeviceHeartbeatPayload" }
    DeviceHeartbeatAckMessage:
      allOf:
        - $ref: "#/components/schemas/ControlMessageEnvelope"
        - type: object
          properties:
            type: { const: device.heartbeat_ack }
            payload: { $ref: "#/components/schemas/DeviceHeartbeatAckPayload" }
    DeviceManifestMessage:
      allOf:
        - $ref: "#/components/schemas/ControlMessageEnvelope"
        - type: object
          properties:
            type: { const: device.manifest }
            payload: { $ref: "#/components/schemas/DeviceManifestPayload" }
    DeviceStateFullMessage:
      allOf:
        - $ref: "#/components/schemas/ControlMessageEnvelope"
        - type: object
          properties:
            type: { const: device.state_full }
            payload: { $ref: "#/components/schemas/DeviceStateFullPayload" }
    DeviceStateDeltaMessage:
      allOf:
        - $ref: "#/components/schemas/ControlMessageEnvelope"
        - type: object
          properties:
            type: { const: device.state_delta }
            payload: { $ref: "#/components/schemas/DeviceStateDeltaPayload" }
    EntityStateMessage:
      allOf:
        - $ref: "#/components/schemas/ControlMessageEnvelope"
        - type: object
          properties:
            type: { const: entity.state }
            payload: { $ref: "#/components/schemas/EntityStatePayload" }
    PresenceChangedMessage:
      allOf:
        - $ref: "#/components/schemas/ControlMessageEnvelope"
        - type: object
          properties:
            type: { const: device.presence_changed }
            payload: { $ref: "#/components/schemas/PresenceChangedPayload" }
    ResyncRequestedMessage:
      allOf:
        - $ref: "#/components/schemas/ControlMessageEnvelope"
        - type: object
          properties:
            type: { const: device.resync_requested }
            payload: { $ref: "#/components/schemas/ResyncRequestedPayload" }
    DirectorySnapshotMessage:
      allOf:
        - $ref: "#/components/schemas/ControlMessageEnvelope"
        - type: object
          properties:
            type: { const: directory.snapshot }
            payload: { $ref: "#/components/schemas/DirectorySnapshotPayload" }
    DirectoryUpsertMessage:
      allOf:
        - $ref: "#/components/schemas/ControlMessageEnvelope"
        - type: object
          properties:
            type: { const: directory.upsert }
            payload: { $ref: "#/components/schemas/DirectoryUpsertPayload" }
    DirectoryRemovalMessage:
      allOf:
        - $ref: "#/components/schemas/ControlMessageEnvelope"
        - type: object
          properties:
            type: { const: directory.removed }
            payload: { $ref: "#/components/schemas/DirectoryRemovalPayload" }
    DeviceCommandMessage:
      allOf:
        - $ref: "#/components/schemas/ControlMessageEnvelope"
        - type: object
          properties:
            type: { const: device.command }
            payload: { $ref: "#/components/schemas/DeviceCommandPayload" }
    CommandReceivedMessage:
      allOf:
        - $ref: "#/components/schemas/ControlMessageEnvelope"
        - type: object
          properties:
            type: { const: command.received }
            payload: { $ref: "#/components/schemas/CommandReceivedPayload" }
    CommandAcceptedMessage:
      allOf:
        - $ref: "#/components/schemas/ControlMessageEnvelope"
        - type: object
          properties:
            type: { const: command.accepted }
            payload: { $ref: "#/components/schemas/CommandAcceptedPayload" }
    CommandResultMessage:
      allOf:
        - $ref: "#/components/schemas/ControlMessageEnvelope"
        - type: object
          properties:
            type: { const: command.result }
            payload: { $ref: "#/components/schemas/CommandResultPayload" }
    ProtocolErrorMessage:
      allOf:
        - $ref: "#/components/schemas/ControlMessageEnvelope"
        - type: object
          properties:
            type: { const: protocol.error }
            payload: { $ref: "#/components/schemas/ProtocolErrorPayload" }
    UnknownControlMessage:
      allOf:
        - $ref: "#/components/schemas/ControlMessageEnvelope"
        - type: object
          properties:
            type:
              not:
                enum:
                  - protocol.hello
                  - protocol.welcome
                  - protocol.error
                  - device.register
                  - device.registered
                  - device.heartbeat
                  - device.heartbeat_ack
                  - device.manifest
                  - device.state_full
                  - device.state_delta
                  - device.presence_changed
                  - device.resync_requested
                  - entity.state
                  - directory.snapshot
                  - directory.upsert
                  - directory.removed
                  - device.command
                  - command.received
                  - command.accepted
                  - command.result
          description: Unknown namespaced message type that a v1 receiver ignores only when safe.
    CreatedPairingRequest:
      type: object
      additionalProperties: false
[...]
